[2021-03-01 02:00] GambetTV opened #1 "REQUEST: Settings Options"
Love the module, seems to work great so far. My only recommendation would be to let users configure some options. Personally I love the hidden Foundry Logo, Shrunken Player List, and shrunk/repositioned lists. But I'd still like to keep the macro bar, the scene navigation, etc. If there was a way to turn each option on/off that'd be awesome.

And if you can accomplish that, it'd be great if you co

[2021-03-01 10:19] saif-ellafi commented on #1
Thanks, I have restored the macro bar for now.
But certainly will work on making it configurable soon.

[2021-03-02 02:35] saif-ellafi commented on #1
Feature request addressed as part of: a3f9d6c7ecad81be38f6ebc9286d12003bf139fc

[2021-03-02 02:35] #1 closed

[2021-03-02 16:00] friction1 opened #2 "Suggestions"
Hey, I like this module a lot and wanted to add a suggestion. It would be awesome to have scale bars (or a few size options) for fine tuning the size of the scenes at the top of the screen, icons on the left side of the screen, macro bar at the bottom of the screen. Thanks for considering!

[2021-03-04 15:39] MarceloCortezz opened #3 "Show GM video frame only"
Hi, first of all: DAMN THIS MODULE IS AWESOME. Thanks!

I've been looking for a way to hide those video frames while showing only DM's but without success. I don't know how to code so I think your module could fit this functionality.

**Suggestion:** Hide all players' video frame while keeping GM's frame visible, so people could see GM faces while narrating the story without having a bunch of othe

[2021-03-04 15:52] saif-ellafi commented on #3
Thanks for the support, I will take a look at that. I think indeed it is weird that video is all or none, but not just the GM.

[2021-03-06 02:34] deraviin opened #4 "Unofficial Card Support Issue"
Unofficial card support module is made to integrate into the macro hotbar, and does not collapse when minimal UI collapses it, leaving it floating in the middle of the screen.

It is unlikely any further changes will be made to UCS as it was considered complete and has not been touched in nearly half a year.

[2021-03-06 03:51] saif-ellafi commented on #4
Thanks, I will see to make sure it works with UCS. Also other modules of interest such as Carousel Tracker and GM Screen.

[2021-03-08 08:09] saif-ellafi opened #5 "Compatibility with WOD"
Users reporting incompatibility with world of darkness systems

[2021-03-09 09:36] saif-ellafi commented on #5
Fixed in 2.2.0

[2021-03-09 09:36] #5 closed

[2021-03-21 19:07] saif-ellafi opened #6 "[Ongoing] Support for Minimal UI with other modules"
Please list any modules that need support:

- Unnoficial Card Support (Works)
- Quick Insert (Done)
- Search Anywhere (Done)
- Simple Dice Roller (Done)
- Combat Carousel (Works)
- Bullseye (Done)

[2021-03-23 09:14] SalieriC commented on #6
- Calendar/Weather (not incompatible but maybe there is a way to hide it as well, maybe binding it to the left sidebar or something)
- Custom Hotbar (this is very important for me)

[2021-03-23 09:18] SalieriC opened #7 "Colourable outer glow"
Currently it can only be the Foundry default orange-red-ish. I'd like to configure the outer glow of side- and macro-bar and preferably the one in the right sidebar as well:
![image](https://user-images.githubusercontent.com/1230041/112123043-30496f00-8bc1-11eb-914b-6bfa2b304637.png)

[2021-03-23 10:30] saif-ellafi commented on #7
Thanks! good idea :)

[2021-03-23 10:40] jbblily opened #8 "Lock/Unlock Macro Bar when auto-hidden (default) mode"
I cannot add new macro from macro directory when it's auto-hidden (default) mode.
It automatically collapses while opening macro directory.
Like left sidebar, I want 'lock/unlock' option.

[2021-03-23 12:19] saif-ellafi commented on #8
Thank you for reporting this! I will look into it immediately.

[2021-03-24 04:03] GambetTV opened #9 "Give option to disable Glow and Bounce"
Great module! But I do find it a bit distracting that the left bar and the macro bar are both permanently glowing, even if I have them set to "always display". Also the macro bar bounces when you hover over it, even if it's set to always display. Similarly, there's a bit of jitter to the entire left bar as you mouseover various icons that I find pretty distracting. Thanks!

[2021-03-24 22:10] Avitale34 opened #10 "The arrow to minimize scenes does not work"
It seems like you can no longer maximize or minimize the scenes bar when you have this module active.
![image](https://user-images.githubusercontent.com/65961637/112390302-72aba280-8ccc-11eb-9a04-185c3319f00e.png)

[2021-03-24 22:28] saif-ellafi commented on #10
Hello @Avitale34 thanks, can you help me reproduce this issue? Which other modules do you have enabled that could affect this?

It is likely another module interfering, otherwise I'd hope other people to have notice it too.

[2021-03-25 01:10] Avitale34 commented on #10
I tracked it down to the Bullseye module, it makes a right click option on the forge logo that I think is blocking the arrow.

[2021-03-25 01:15] Iankid commented on #6
Ernie's Modern UI

[2021-03-25 07:17] plutoneld opened #11 "Shadow Colors is incorrectly named Border Colors?"
The settings mention Border Colors twice, I'm assuming the second option should be named Shadow Colors?

![image](https://user-images.githubusercontent.com/10401440/112433466-96a9cb00-8d42-11eb-9588-73a732f99b01.png)

[2021-03-25 08:27] saif-ellafi commented on #10
Thanks, will take a look to see if I can do something about it!

[2021-03-25 08:27] saif-ellafi commented on #11
oops, thank you!

[2021-03-25 10:35] saif-ellafi commented on #6
That will be a tough one :) Compatibility across UI modules can be quite painful. Going to give it a chance though. Thanks

[2021-03-25 10:35] saif-ellafi commented on #7
done! Please take a look :)

[2021-03-25 10:36] saif-ellafi commented on #9
Improved significantly in release https://github.com/saif-ellafi/foundryvtt-minimal-ui/releases/tag/0.3.4
Please take a look :)

[2021-03-25 10:36] saif-ellafi commented on #10
Fixed in [0.3.4](https://github.com/saif-ellafi/foundryvtt-minimal-ui/releases/tag/0.3.4)
Please confirm :)

[2021-03-25 10:37] saif-ellafi commented on #11
Fixed in [0.3.4](https://github.com/saif-ellafi/foundryvtt-minimal-ui/releases/tag/0.3.4)
Thanks!!!

[2021-03-25 10:37] #11 closed

[2021-03-25 10:38] saif-ellafi commented on #8
Done in [0.3.x](https://github.com/saif-ellafi/foundryvtt-minimal-ui/releases/tag/0.3.4)
Thanks!

[2021-03-25 10:38] #8 closed

[2021-03-25 10:38] #7 closed

[2021-03-25 10:39] saif-ellafi commented on #4
Please follow them here: https://github.com/saif-ellafi/foundryvtt-minimal-ui/issues/6

[2021-03-25 10:39] #4 closed

[2021-03-25 10:40] saif-ellafi commented on #2
Multiple sizes and options improved :)
Please feel free to open new issues for new more specific requests.
Thanks

[2021-03-25 10:40] #2 closed

[2021-03-25 15:49] Avitale34 commented on #10
Works great! Thank you :)

[2021-03-25 20:46] #10 closed

[2021-03-25 20:47] #9 closed

[2021-03-26 06:21] GambetTV commented on #9
The Bounce is gone! And the transparent colors works good. Thanks!

[2021-03-26 06:28] GambetTV opened #12 "Latest update causes macro bar sides to expand, and has issue with Custom Hotbar"
Just updated to the latest version, and the two little bars (the one with the folder and the one with the arrows that lets you scroll through the 5 hotbar rows) on either side of the main hotbar have expanded downward, so that they touch the bottom of the screen, while the hotbar itself remains a bit above it. Not a huge deal, but seems unintentional so I thought I mentioned it.

Inexplicably, thi

[2021-03-26 06:32] GambetTV commented on #12
Just in case some images help illustrate the problem. First is with your mod uninstalled, second is with it installed.

![Test1](https://user-images.githubusercontent.com/72000497/112591848-5cd8d300-8ddb-11eb-9b2b-ece7191bbea3.jpg)
![Test2](https://user-images.githubusercontent.com/72000497/112591858-5ea29680-8ddb-11eb-9c1e-2f79f47267cc.jpg)

[2021-03-26 09:44] saif-ellafi commented on #12
Thanks,
It will be a bit complicated to friend these two modules. Particularly because many stiles in Custom Hotbar module are "hardcoded" in the HTML elements themselves, rather than following style parametrization (imho not a good practice, but sometimes I understand it is convenient and fast).

I'll see what I can do to make this work right with Custom Hotbar, but any solution will have some "f

[2021-03-26 10:44] saif-ellafi commented on #12
Hi @GambetTV I have done some work on this, could you please check release 0.3.6 ? Thanks

[2021-03-26 21:57] CasualTerror opened #13 "Suggestion: Only allow GM to see the Scene Navigation Preview"
For the Scene Navigation Preview setting. It might be best for that to be a GM-only feature or add an option for it to be GM only. I like for my players to have access to the world map at all times but if they switch scenes and then back having the scene preview pop out then they might see something in the preview of the dungeon that they haven't been to yet.

[2021-03-26 22:09] saif-ellafi commented on #13
Hello @CasualTerror Thanks for the feedback, let me see if I understand the problem correctly:

The image preview is the thumbnail of the map, so they shouldn't be able to see anything through the "preview" if that's what you mean. It is a static image.

Are you sure you are not thinking the preview can show tokens or dynamic content from the scene, correct?

[2021-03-26 22:12] SalieriC commented on #13
@saif-ellafi: I think what @CasualTerror means is, that the preview will show part of the dungeon or whatever they haven't yet discovered, thus allowing them to see where the final boss room or whatever is. I think this is a valid concern.

[2021-03-26 22:33] saif-ellafi commented on #13
I see, the preview may reveal beyond the fog of war

[2021-03-26 23:03] saif-ellafi commented on #13
Fixed in 0.4.3. Now this feature only works on GMs. Please confirm if all good when possible :)

[2021-03-26 23:33] CasualTerror commented on #13
I installed the new version and it didn't change the mouseover preview on the top scene navigation.

This screenshot was taken from a player's POV. As you can see there's something interesting on the preview that I wish to keep hidden until they walk into that room.
![Screenshot 2021-03-26 192718](https://user-images.githubusercontent.com/32625656/112702312-7163ac80-8e69-11eb-903f-70076a156df7.jpg

[2021-03-26 23:43] saif-ellafi commented on #13
Gosh, I am really sorry. I didn't include the fix in the last release.

[2021-03-27 00:23] saif-ellafi commented on #13
@CasualTerror 0.4.4 should have it effectively fixed :)

[2021-03-27 05:14] GambetTV commented on #12
Looks perfect! Thanks so much!

[2021-03-27 09:49] QuantumFunks opened #14 "Hidden Foundry Logo"
Could you add an option to toggle whether the logo is hidden? I want to use this module in conjuction with Display Mode which requires you to click on the logo to hide all elements. I want to use this module reduce the number of elements that appear when i click the logo, but its completely removed when this minimal ui is active.

Is it also possible to set different levels of UI reduction based o

[2021-03-27 09:58] saif-ellafi commented on #14
He @QuantumFunks Thanks. Everything is configurable so there is no reason the logo is permanently hidden without an option.
I'll also take a look to the Display Mode module to make sure it all goes well.

Thanks

[2021-03-27 09:59] QuantumFunks commented on #14
Thanks for the quick response. I wasnt able to find a hidden logo option in the module settings unless im overlooking something

[2021-03-27 10:00] saif-ellafi commented on #14
Nono, you are right. There isn't. Will be adding the option soon :)

[2021-03-27 10:01] QuantumFunks commented on #14
thanks a lot :)

[2021-03-27 10:02] QuantumFunks commented on #14
not sure if its possible but if you could add afeature that collapses/hides all the elements by clicking the logo, thatd make the display mode essentially redundant haha

[2021-03-27 10:04] SalieriC commented on #14
Maybe, while you're at it, you could push the nav bar to the left side of the screen if the logo is hidden. That'd preserve some precious screen real estate.

[2021-03-27 10:05] saif-ellafi commented on #14
It's actually not a bad idea to hide everything as a toggle.  Hopefully that is not too bad against Display Mode author :)

@SalieriC I did that before and I removed as part of a major cleanup it on 0.4.x o_O I think shouldn't have done that. Will put it back.

[2021-03-27 10:07] QuantumFunks commented on #14
Perhaps it could just be a multi option in the settings: click logo to hide all elements or click logo to collapse all elements. Then you arent being too bad :)

[2021-03-27 11:13] saif-ellafi commented on #14
Done! Added two different sizes for the Foundry Logo (Small, Standard, Hidden) and also two toggable configurations (Click to hide all, click to hide all except Chat).
Hope you like it!

[2021-03-27 11:41] QuantumFunks commented on #14
You're amazing, truly. This is such an amazing upgrade.

Just a little heads up, i just tested both hide options and the chat window disappears in both. I made sure to fully restart the program to test it and it is persisting.

Another side note. When bullseye module is active, it no longer works.

[2021-03-27 12:39] saif-ellafi commented on #14
Thanks Quantum for the kudos!

- Regarding the chat window disappearing in both, not happening to me :S. Tried both in my server and also on the local client. You sure you set "Hide ALL UI" option?
- Regarding bullseye. Yeah, sorry. That mode is poorly written in my opinion, it hardcode overrides the logo properties :( It is also not an authorized module in Foundry so it is less work for me to say

[2021-03-27 12:44] QuantumFunks commented on #14
Yeah its strange. Ill have another few goes with both settings and see what happens.

Yeah i had a feeling that bullseye was going to be the issue here. Would it be possible to add a hotkey option to the hiding? that would literally fix everything. People could even assign it to a mouse or gaming keyboard button

[2021-03-27 13:02] saif-ellafi commented on #14
Likely a conflicting module?

[2021-03-27 13:04] QuantumFunks commented on #14
I still had display mode active, its working now. *facepalm*

Would you consider adding a hotkey option in a future release? Ill definitely preference your module over bullseye but itd be great to have a work around to use both

[2021-03-28 07:50] #12 closed

[2021-03-28 07:50] #13 closed

[2021-03-28 07:51] saif-ellafi commented on #14
Thanks, I'll give it a thought over hotkey option. I am just "not sure" yet if the module should go in that direction. The settings panel is already growing long :D

Please open another separate feature request for hotkeys. Foundry Logo issue should be solved now.

[2021-03-28 07:51] #14 closed

[2021-04-01 08:37] saif-ellafi commented on #3
Hi @MarceloCortezz
Added in 0.5.1 :) 80ef811593c75d15da53deefb43ffc29a64a2aa1
This is however border line for Minimal UI. I think Foundry VTT core should deal with this option.
Let me know your thoughts, have fun!

[2021-04-11 06:31] SalieriC commented on #6
- [ ] Monks Scene Navigation or Navigation Presets (whatever is easier to do) compatibility would be great. =)

[2021-04-16 14:02] SalieriC opened #15 "Colour problem if right sidebar is collapsed"
If the right side bar is collapsed, there is a tiny bar under the selected option that still shows the default colour:
![image](https://user-images.githubusercontent.com/1230041/115035640-11db4880-9ecd-11eb-8d11-e5570f9db750.png)

[2021-04-16 14:51] #3 closed

[2021-04-16 14:52] saif-ellafi commented on #15
Gracias!!! Will fix it soon :)

[2021-04-16 16:03] saif-ellafi commented on #15
Fixed!

[2021-04-16 16:03] #15 closed

[2021-04-18 05:24] GambetTV opened #16 "REQUEST: Allow for hotbar default positioning."
The macro hotbar now defaults to the center, and can be positioned center right or center left, but there's no option to keep it where it normally defaults to, way closer to the left side. Please add an option for default positioning.

[2021-04-18 08:23] saif-ellafi commented on #16
Fixed in 0.6.1
Thanks

[2021-04-18 08:23] #16 closed

[2021-04-19 10:05] apoapostolov opened #17 "Change "Close" with an X icon"
For further minimization of minimized tabs, change Close button with an X icon. Here's how a certain Pl...... mod does it.

![image](https://user-images.githubusercontent.com/4083812/115219149-e5633e80-a10f-11eb-83ae-5b421d491d70.png)
![image](https://user-images.githubusercontent.com/4083812/115219180-ec8a4c80-a10f-11eb-940b-03010085d6cc.png)

You can of course forego the red coloring.

[2021-04-19 10:06] apoapostolov opened #18 "Anvil Icon - skinning instead of hiding it"
This is already covered by the mod MyTab, but you may find it fitting in your module focus.

Instead of removing the anvil icon in the upper right corner, allow the GM to skin it with the logo of their game system or stream.

[2021-04-19 10:08] apoapostolov opened #19 "Dynamic width of minimized windows"
When Minimized, the width of the tabel could be dynamic based on the length of the text, instead fixed. This would make labels like the one below much shorter and fit more in your organized tabs.

![image](https://user-images.githubusercontent.com/4083812/115219461-3b37e680-a110-11eb-864b-a07338a02b5e.png)

[2021-04-19 22:04] benbarbour opened #20 "(Option to) Hide player's video box"
I have only a few players that send me video, and I like to make them fairly big. Without popping out the video frames (which has it's own issues when the windows resizes) this results in a lot of wasted space. It would be great to have the option to hide a player's video box, on a player-by-player basis.

[2021-04-19 22:08] benbarbour opened #21 "Minimize bar obsures video chat boxes"
The minimize bar overlaps the bottom of the video chat boxes. It would be great to avoid this.

![minimize bar with video](https://user-images.githubusercontent.com/487715/115309374-0c763c00-a121-11eb-8036-f23d3be5911b.png)

[2021-04-19 22:48] saif-ellafi commented on #21
Thank you for sharing this feedback. Remember you have the option to move the minimized bar to the top too.
I'll think about what can be done in this regard.

[2021-04-19 22:48] saif-ellafi commented on #17
Thanks, that is true. I'll investigate how feasible this option is. But certainly it would save space!

[2021-04-19 22:49] saif-ellafi commented on #19
This one is a bit tricky, because a fixed length allows me to easily manage the calculation of measuring available space. I will however investigate this further!

[2021-04-19 22:49] saif-ellafi commented on #18
This is a good idea! Thanks!

[2021-04-19 23:24] benbarbour commented on #21
Yeah, maybe I'll do that for now. Thanks for such a great module, btw!!

[2021-04-19 23:29] benbarbour commented on #20
Thanks! I realized after filing this that although the suggestion fits with the theme of this module, maybe this exact issue is a better suggestion for a core feature. Maybe I'll throw a suggestion at the core team.

[2021-04-19 23:42] saif-ellafi commented on #20
Yes, at a first time when I did the camera hiding feature for players, was already a "grey" area with something that Foundry should provide!

It is a great idea to provide the suggestion to core.

[2021-04-20 12:00] plutoneld commented on #6
The Monster Blocks module (https://foundryvtt.com/packages/monsterblock) doesn't work correctly with the minimize functionality. It doesn't minimize correctly (the title bar is twice as high sort of), and it doesn't restore properly.

[2021-04-20 13:55] saif-ellafi commented on #6
Thanks @plutoneld glad that you found some interest in the minimize functionality! will check out that module

[2021-04-20 14:33] saif-ellafi commented on #6
This fix is fixed as part of the next release :D

[2021-04-20 17:30] saif-ellafi commented on #17
Thanks for the idea! this is now achieved in 0.8.0, so about 50% space was saved! although not dynamically adjusted yet.

[2021-04-20 17:30] #17 closed

[2021-04-20 17:31] saif-ellafi opened #23 "Scene preview pops the Minimized Bar"
A reminder for this to be fixed

[2021-04-21 00:43] saif-ellafi commented on #23
Fixed!

[2021-04-21 00:43] #23 closed

[2021-04-21 00:44] saif-ellafi commented on #18
Provided as a new setting in 0.8.1 .. Enjoy !! :D
Feel free also to check my ko-fi page ^^

[2021-04-21 00:44] #18 closed

[2021-04-21 00:44] saif-ellafi commented on #20
Will wait for a little longer to gather whether other users are also interested in this. It is quite the effort to do it. If nothing happens, will close this item eventually, as it is not yet on the short-term plans.

[2021-04-21 00:46] saif-ellafi commented on #19
After some investigation. I am not very tempted on doing this. The gain is not really worth the work imho. With the cross as a button and the standard "small" width, we could be already happy with current functionality.

Will keep this issue open for a little longer until we experience a bit more how things are right now, before closing.

[2021-04-21 00:47] saif-ellafi commented on #21
I am not sure how to solve this. Pushing the bar up when cameras are active is not a viable option.

Unfortunately I'll have to disable the bottom bar option when cameras are active. But it is a bit low priority since this can be already achieved through configuration.

Will keep this issue a bit longer open in case there are other ideas or solutions.

[2021-04-21 00:48] saif-ellafi opened #24 "Figure out whether it is worth it to maximize minimized windows of drawings and tiles"
Figure out whether it is worth it to maximize minimized windows of drawings and tiles

Foundry VTT is pretty bad at this. Double clicking a tile or a drawing, if it's configuration is already open and minimized, does not maximize it back.

A patch could be added from Minimal UI but this is a bit low priority.

Keeping it here for reference.

[2021-04-21 01:06] benbarbour commented on #21
Can the video dock be bumped up?

On Tue., Apr. 20, 2021, 5:48 p.m. Saif Addin, ***@***.***>
wrote:

[2021-04-21 01:18] saif-ellafi commented on #21
That's actually not a bad idea. The trick would be to fit it above the Macro Hotbar but below the Video line... hmm might go to bed with this thought, thanks!

How do you like the top bar so far? it benefits from the most space so far.

[2021-04-21 01:34] benbarbour commented on #21
Haven't got to play yet, but it looks nice in my testing! :)

[2021-04-24 18:44] GambetTV opened #27 "Resets settings every update"
Love the module! But every time you update it, most or all of my settings with it revert to their defaults, and I have to go back through and change it all back to how I had it before. Any chance you can get it to save the settings?

[2021-04-24 19:08] saif-ellafi commented on #27
Thanks for reporting this. This should only have happened in the 0.8.0 update, not in all. I had unfortunately to go through deep changes and it was necessary to cause a few defaults on settings. But should not happen on any other update. If it happens in on any other update, please let me know.

[2021-04-26 14:36] apoapostolov opened #28 "Option to ignore applying any CSS to Left Toolbar"
I want to use Minimal UI to benefit from specific UI improvements such as the scene thumbnails, the minimal player list, and the tab for minimized windows. However, I wish not to minimize other aspects of the UI.

Unfortunately, the toolbar (the left button column) has CSS applied to it that breaks badly under some skinned systems (PF2 pictured below). I would like to have the option not to skin t

[2021-04-26 14:38] apoapostolov opened #29 "Incompatibility with MyTab mod"
MyTab mod can skin the anvil icon just as the added functionality and takes priority to it. This makes it hard for people who already have configured custom anvil icon to use the rest of the Minimal UI mod.

Please add the option not to mod the anvil icon at all, so MyTab can take priority there.

[2021-04-26 16:41] saif-ellafi commented on #29
Thanks for reporting this, will take a look.

[2021-04-26 16:52] saif-ellafi commented on #28
Good point, going to see what can be done about it.

[2021-04-26 16:55] saif-ellafi commented on #27
Closing.

[2021-04-26 16:55] #27 closed

[2021-04-26 16:55] saif-ellafi commented on #24
Fixed.

[2021-04-26 16:55] #24 closed

[2021-04-27 00:41] Mushie1 commented on #6
Tidy UI game settings.
Not sure if the issue is in that module or this one.
With Tidy UI turned on, I could not have the left icons saved as "Always visible". when I saved changes, it still went into auto hide mode.  If I turned that module off, I could save the setting.

[2021-04-27 00:56] saif-ellafi commented on #28
Hi @apoapostolov can you send me the system/module name to see these skins so I can take as an example?

[2021-04-27 01:25] saif-ellafi commented on #29
Fixed in 0.8.8 please confirm!!

[2021-04-27 02:58] saif-ellafi commented on #6
Thanks @Mushie1 ! I really love that module, and it should work fine and actually encouraged.
I cannot however reproduce the issue you mention.

Here on my side it works fine:
![image](https://user-images.githubusercontent.com/27952699/116178041-2dd4ba80-a715-11eb-88b5-92755605ed33.png)

[2021-04-27 05:08] Mushie1 commented on #6
Just updated to 0.8.8 and I could not reproduce the bug.  So all good, thanks for the quick response!!

[2021-04-27 08:03] apoapostolov commented on #28
Pathfinder 2 system. Then in the settings tab, open PF2 Player Settings button, and change the skin to In Progress.

[2021-04-27 08:07] apoapostolov commented on #29
Seems still an issue, The Minimal UI anvil still overwrites the MyTab icon.

[2021-04-27 09:57] saif-ellafi commented on #29
But how? :(

![image](https://user-images.githubusercontent.com/27952699/116223295-ae181180-a74f-11eb-9ea5-9ad80ea72ce6.png)

![image](https://user-images.githubusercontent.com/27952699/116223370-bff9b480-a74f-11eb-8900-437c03140b95.png)

[2021-04-27 16:03] caewok opened #30 "Make larger target to activate macro bar for macs"
Foundry 0.7.9, minimal ui 0.8.8.

On my mac, the application dock is at the bottom of the screen, and can be activated to appear by moving the cursor arrow nearly all the way to the bottom. Unfortunately, this conflicts with activating the macro hotbar in minimal ui. Basically, it is very fiddly, because if the mac dock activates, it takes focus away from the browser window and the hotbar will not

[2021-04-27 19:24] saif-ellafi commented on #30
Thanks for reporting this!!! Unfortunately I don't have a Mac but we can brainstorm a little bit for solutions.
Increasing the detection area is one option but that would mean there's a lot more of shadow and border in the screen.
Let's think a bit more, but yes fixing the Macro Hotbar is one solution. Another is perhaps move the Hotbar along the X-Axis in case your apps Dock doesn't use all the s

[2021-04-27 19:47] caewok opened #31 "Request: Move most settings to per-user"
Foundry 0.7.9. Minimal UI 0.8.8.

Right now, only the Border Colors and Shadow Colors are per-user settings, the rest are world-only (GM). Please consider switching nearly all the settings to per-user, up to and including disabling the module altogether on a per-user basis. My thinking here is that different users will have different preferences for how the UI appears. In particular, laptop users

[2021-04-27 19:56] saif-ellafi commented on #31
Thanks for the feedback. Actually, nothing should be picked by the users. The shadow color and border should not be setteable, it is a bug (it doesn't work anyway).

This was a long discussion, but the reasoning behind it, is that the way I see it, and also some of the feedback I gathered around last months, states that the GM prefers to set up the "pitch" for the players.

One of my GMs for examp

[2021-04-27 19:57] saif-ellafi commented on #29
Could you confirm @apoapostolov ?

[2021-04-27 20:00] apoapostolov commented on #29
MyTab doesn't grab any priority on my side.

[2021-04-27 20:04] apoapostolov commented on #29
OK, today I tested again and this time MyTab properly got priority.

![image](https://user-images.githubusercontent.com/4083812/116305741-df72fa80-a7ac-11eb-96ce-63e2e2db695a.png)

[2021-04-27 20:06] apoapostolov opened #32 "Scene Previews z-order happens behind the scene list"
Is this intended? Probably to allow to hover on the lower list but it looks a bit unattractive.

![image](https://user-images.githubusercontent.com/4083812/116305945-2103a580-a7ad-11eb-8fea-70d0225173fc.png)

[2021-04-27 20:09] saif-ellafi commented on #32
Thanks, yes got to think about it. Scene Preview does not go well with many scenes that gather multiple rows. Foundry doesn't provide me a solid way of counting for the rows visible.

One possible solution is either to hide all scenes that are not being highlighted, but I'll continue investigating to find smarter solutions.

[2021-04-27 20:12] saif-ellafi commented on #32
z-order is no solution because I don't want to block the other scenes with the preview either.

[2021-04-28 01:14] Noshei opened #33 "Console Error when launching Foundry"
I'm getting the following error from minimal UI when launching foundry.

`minimalui.js:1184 Uncaught (in promise) DOMException: Failed to read the 'cssRules' property from 'CSSStyleSheet': Cannot access rules
    at Function.fixMinimizedRule (https://assets.forge-vtt.com/bazaar/modules/minimal-ui/0.8.8/minimalui.js:1184:31)
    at https://assets.forge-vtt.com/bazaar/modules/minimal-ui/0.8.8/minima

[2021-04-28 08:18] saif-ellafi commented on #33
Thanks! That's a nasty error.

If it's on launch right away, it probably means a conflict with something else?
If you can please help me with other modules you may have installed or any particular condition, like browser or system.

[2021-04-28 08:23] saif-ellafi commented on #33
This could also be related with people using this module on the Forge. But I am almost certain that others use it in the Forge too.

[2021-04-28 10:08] saif-ellafi commented on #32
I have found a good solution for this, and will include it in the next release.

![image](https://user-images.githubusercontent.com/27952699/116386868-7f1aa200-a81a-11eb-86c0-3ffbf64cd95e.png)

[2021-04-28 10:12] agentnos opened #34 "Unable to open character sheets from the actor tab"
If you click on an actor in the actor tab to open their sheet, but then click the actor again, the sheet disappears and you are then unable to open it again, prompting this error:
![image](https://user-images.githubusercontent.com/6649313/116387223-8047d100-a812-11eb-88cb-e853108490c5.png)
Refreshing the page fixes this however.

[2021-04-28 10:43] saif-ellafi commented on #34
Thank you @agentnos for coming to report this.

Could you make sure that you are on 0.8.8 version and this still happening? This was a bug introduced in 0.8.6 and fixed later.

[2021-04-28 13:57] Noshei commented on #33
Chrome browser on windows 10.

Tested with only Minimal UI and dependents and still getting the same error

![image](https://user-images.githubusercontent.com/8866000/116416141-559c4f00-a7f7-11eb-8c78-59c09db91bdb.png)

[2021-04-28 14:13] saif-ellafi commented on #33
That's unfortunate to hear. I'll have to ask for help into this, and why it doesn't happen to everyone.

[2021-04-28 14:32] Noshei commented on #33
Seems like this is likely a forge related issue.  So I created a new world on both my forge server and my local test server, and only activated Minimal UI and dependents.  I only get the error on my forge server.  All version match between the servers.

[2021-04-28 14:49] Noshei commented on #33
I'm not a JS guy, but I did a bit of digging and I believe I found the issue.  Its CORS security blocking access to cssRules because the css file is on a different sub domain from the request (assets.Forge-vtt.com vs noshei.forge-vtt.com).  Here is a post with a bit more detail, not sure how to fix this issue though.  This does confirm it is a forge related issue though.

https://stackoverflow.com

[2021-04-28 15:16] agentnos commented on #34
I just went through my modules to check they were all up to date, and this one wasn't. All up to date and it seems to all be working again! Thanks for the help!!!

[2021-04-28 15:30] saif-ellafi commented on #33
Thanks for the research. I pinged Forge's manager and he explicitly said this is not a CORS issue. Otherwise no other modules would work either.

I'll ask around other people using the forge to discard a special case, and think if there's any way of work around it.

[2021-04-28 15:44] saif-ellafi commented on #34
Awesome!!! Enjoy :)

[2021-04-28 15:44] #34 closed

[2021-04-28 15:45] #29 closed

[2021-04-28 20:17] saif-ellafi commented on #33
I am working on this, got some solution in plan.

[2021-04-29 00:53] saif-ellafi commented on #32
Fixed in 0.9.0!!! Please confirm :)

[2021-04-29 00:53] saif-ellafi commented on #33
Fixed on 0.9.0!!! Please confirm :)

[2021-04-29 02:03] Noshei commented on #33
Looks good, appears to be resolved.

[2021-04-29 02:03] #33 closed

[2021-04-29 12:00] JLtheking2 opened #35 "Organized Minimize mode treats "Bottom" option as "Top""
Hello, as described, if the setting is set to Bottom and I minimize a character sheet, it gets sent to the top of the screen instead of the bottom. The bottom option used to work until I updated.

If I set the setting to "Bottom with Bar", it works as expected.

Tested with no mods loaded other than libWrapper, lib - Color Settings and Minimal UI.
Foundry 0.7.9
DnD5e 1.2.4

[2021-04-29 12:09] JLtheking2 opened #36 "[Suggestion] Remove the text in the new Minimize button"
Doing this would further compact the options bar just as you did with the close button in #17 . And I think everyone has used Windows enough to know what a straight line means 😄

[2021-04-29 12:45] saif-ellafi commented on #35
Thanks!! Will check out this asap this afternoon

[2021-04-29 12:45] saif-ellafi commented on #36
I thought about it a lot! But concerned with the fact that it is not a "standard" in the rest of the buttons :( Would be an icon alone standing by itself. But Will consider about it.

[2021-04-29 12:48] saif-ellafi commented on #36
Because the close button does also show the text when the window is expanded.

[2021-04-29 12:49] #32 closed

[2021-04-29 14:51] saif-ellafi commented on #36
not a bad idea! could be optional, not sure if everyone likes it. Will write it down

[2021-04-29 18:41] Ghostdesu opened #37 "Dynamic Mode breaks when Polyglot module is enabled"
**Describe the bug**
    Using dynamic mode alongside Polyglot module results in occasional "flicker" of the right side bar on scene change.

**To Reproduce**
Steps to reproduce the behavior:

    Enable Minimal UI, its dependencies and Polyglot.
    Enable Dynamic Mode in Minimal UI settings.
    Transition from one scene to another.

**Screenshots/GIFs/Videos**
    ![bugreport](https://user-imag

[2021-04-29 19:23] saif-ellafi commented on #37
Thanks so much for reporting this. I am having a hard time watching that gif over and over again :D.
For the short term I'll unfortunately disable Dynamic Mode when Polyglot is active, and track down a solution over time.

[2021-04-29 19:36] saif-ellafi commented on #37
hmm I am having difficulties reproducing it that obviously. I'll see what can it be.

[2021-04-29 19:39] saif-ellafi commented on #37
ah yes I could now.

[2021-04-29 19:51] saif-ellafi commented on #37
ok, it seems polyglot triggers chat rendering hundreds of times when switching scenes. I'll apply a fix on my end but it should be right to report that to the creator of that module.

[2021-04-29 20:09] saif-ellafi commented on #37
Fixed for next release soon!

[2021-04-29 22:24] saif-ellafi commented on #37
Fixed in 0.9.1 - Please confirm :)

[2021-04-29 22:25] saif-ellafi commented on #35
Fixed in 0.9.1 ! Please confirm :)

[2021-04-30 10:06] Ghostdesu commented on #37
Yep it's fixed now, thanks!

[2021-04-30 10:15] #37 closed

[2021-04-30 10:15] #35 closed

[2021-05-01 15:38] caewok commented on #31
Fair enough. I suppose I was thinking more of the physical modifications and less about the visual ones. The switch to having UI disappear until you move the mouse to hover over an area is a pretty big change. The change to the size of the canvas controls bar is another. I think they are great, but I definitely have players that don't do well with change! Plus the different screen size / different

[2021-05-01 15:54] caewok commented on #30
Some observations about how the macOS dock works:
- Default position is bottom of the screen, always visible.
- It can be changed to appear only when you move the mouse to the edge of the screen with the dock ("hidden").
- Dock can be placed left, bottom, or right.
- Regardless of the length of the dock, when hidden, moving the mouse to anywhere along that screen edge makes it appear.
- When not h

[2021-05-01 23:18] saif-ellafi commented on #31
Thanks, yes. I wanted to leave the consideration open, if you don't mind. A middle ground can be something achievable as you said.

However, in regards of screen size, many changes in Minimal UI take in consideration user's display. The objective behind is that more or less players should relatively see the same thing. Up to some extent.

If you don't mind I'll leave the issue open, the won't fix

[2021-05-01 23:18] saif-ellafi commented on #36
Done in latest release! Enjoy and thanks for the feedback.

[2021-05-01 23:18] #36 closed

[2021-05-03 12:33] lozalojo opened #38 "Request: support for new CoC control buttons"
Not sure if it is possible to make Havlovk/CoC system (https://github.com/HavlockV/CoC7-FoundryVTT) buttons (the ones in green) homonegeus:

![](https://i.ibb.co/SPvYWQc/screenshot-175.jpg)

Thanks, great module!

[2021-05-04 18:09] saif-ellafi commented on #38
Indeed, I am hoping to make minimal ui more compatible with other UIs as part of the next release.

[2021-05-04 18:31] saif-ellafi commented on #28
Okay, I am looking for ways of improving compatibility.
But for this particular case of pathfinder, you can use the Minimal UI color pickers to find a color that matches the other buttons.
It is Pathfinder the one who does not apply the button styles to those buttons, since those are other modules actually (i.e. Narrator Tools).
There's also a bit of an issue with the smaller control bar, but if y

[2021-05-04 18:31] #28 closed

[2021-05-04 18:50] lozalojo commented on #38
Great, thank you!

[2021-05-04 18:59] saif-ellafi commented on #38
I have checked CoC. And unfortunately, it is the system's responsibility to apply the style to all buttons. Not to just the ones they add.

The best you can do from Minimal UI is to use the Standard Size buttons, and color the shadows and borders to something like this:
![image](https://user-images.githubusercontent.com/27952699/117055633-a6420980-ad1b-11eb-8708-566059a138d7.png)

[2021-05-04 21:35] saif-ellafi commented on #38
0.9.6 with minor changes that should help overall with system styles. For the time being it is the best I could do.

[2021-05-04 21:35] #38 closed

[2021-05-30 21:44] SalieriC opened #39 "Clicking on any entity in the sidebar which is already open hides it"
To make it worse: It can't be opened again until the user reloads.

[2021-05-31 05:54] #39 closed

[2021-06-03 04:34] Brimcon opened #40 "Expanding the Right bar pops chat out."
Foundry Version 0.8.6
Not sure it matters but D&D5e 1.3.3
Minimal UI 1.0.1

Only Minimal UI and lib - color settings enabled
Clicking on the left arrow in the right bar pops chat out when it expands.

[2021-06-07 08:51] marcstraube commented on #31
Hi! I found this module just yesterday and I really like how it optimizes Foundry's UI for working on a 13" laptop.
Maybe it would be an option, to just save the users "pinned" settings, so that the side- and macrobar stay pinned after reloading the page.

[2021-06-07 23:52] Juanfrank opened #41 "[Suggestion] Hook for Foundry logo to hide other Modules' UI?"
Hello.-

Much of a noob in JS here. But is there any possibility of building a hook that would allow other modules to make their UI features toggle (hide/show) according to the Minimal UI's Foundry Logo setting? I believe that would be a really useful feature.

Thanks!

[2021-06-10 15:17] MarceloCortezz opened #42 "[ Question ] Left bar behind sheets and journal windows"
Is it possible to make the left menu stay behind of sheets and journal windows?
![image](https://user-images.githubusercontent.com/79060716/121551154-c71a1080-c9e5-11eb-948c-0efd015fae24.png)

[2021-07-08 18:40] Bryn1701 commented on #31
I also just found this module and I really like it. But I know some of my players are going to want control over their bits and pieces. I would love to also see an ability if they lock their bars to stop from auto hiding it will stick after a refresh. A good compromise I think between full control and no control. But I don't code so I don't know if it would be a nightmare or not.

[2021-08-05 10:48] Merudo opened #43 "Request: improve compatibility with Ping Logger module"
When combined with the Minimal UI module and the player list is set to auto-hide, the [Ping Logger](https://github.com/mawburn/foundry-ping-logger) module does not display the ping on the same line as the player colored dot:

![image](https://user-images.githubusercontent.com/7371085/128337504-65c4622d-4bb1-4745-9dcb-63609b059cf1.png)

As you see each player takes two lines in the player list, one

[2021-08-05 12:50] mawburn commented on #43
Nice job adding this to both repos.

I haven't looked into it yet, but my first thought is this looks like a flexbox display column. If that's the case, I should probably apply a class to the ping span that would make it get hidden along with the rest of the stuff.

I haven't actually looked into this yet, but @saif-ellafi is there a class I can apply to it that will hide it?

[2021-08-17 18:58] foxreinhold opened #44 "0.8.9 breaks second column of left side bar."
It  technically still works, it just doesn't truncate itself properly so it looks like the bar drags on forever.

![image](https://user-images.githubusercontent.com/77173822/129784806-2a33f63e-6df2-411f-9cb7-865944fc256e.png)

[2021-08-17 22:33] saif-ellafi commented on #44
Thank you for reporting it so quickly! - My time is a bit limited but I just released support for 0.8.9 to the best of my abilities.

Enjoy!! Do let me know if anything looks strange, some things changed without notice on this release :)

[2021-08-17 22:40] saif-ellafi commented on #43
I am a bit off the race for the moment but will track this down when I get some time. It will likely require some ruling from either side to make an exception. In the worst case scenario, setting up the Player List to look like vanilla should solve this.

If anyone has some time, a similar compatibilty patch was done with "Raise my Hand" module, i.e. by customizing some of the style parameters, pl

[2021-08-17 22:42] saif-ellafi commented on #42
I could not reproduce this on 0.8.9 anymore, could you recheck please?

![image](https://user-images.githubusercontent.com/27952699/129810132-d57d8540-4fe1-4403-8d42-df3fa25ed92e.png)

[2021-08-17 22:45] saif-ellafi commented on #41
Thanks for suggesting this, although my first impression is that being able to do it selectively and universally is definitely tricky.

When in hide all mode, does the logo hide everything **including** other modules components already?

[2021-08-17 22:47] saif-ellafi commented on #40
Thank you for reporting this, although I can't seem able to reproduce this error with latest versions of Minimal UI.

You seem to be using Minimal UI 1.0.1, which is a bit old. Could you try upgrading to a newer release please?

[2021-08-18 00:06] Brimcon commented on #40
Updated Minimal UI and it seems the issue is fixed! Thanks!

[2021-08-18 00:06] #40 closed

[2021-08-18 16:49] Brimcon opened #46 ""Right Side Panel Behaivor" set to Collapsed does not function with multiple Modules enabled."
This is a strange bug to report because its so inconsistent.
Using Find the culprit I could never find a single module that would be the cause this behavior.

Effectively with anything in the chat log. The right side panel would start open even with it set to collapsed.
I discovered that the more modules enabled, the higher the chance it would start open.
Even with one extra module enabled (In thi

[2021-09-06 08:24] Wraithlord2015 opened #47 "Left side bar does not save position"
Currently using foundry VTT 0.8.9 but able to duplicate issue with 0.8.8, and the issue occurs even with all other modules uninstalled &/or disabled.

I've found two issues that appear to be related - I'm unsure if it's specific to me, but adjusting the module settings for the "left controls position" - it will remain in place until I log out.

Upon logging back in, the left control bar isn't pres

[2021-09-06 09:03] #44 closed

[2021-09-06 09:04] saif-ellafi commented on #46
Thanks for reporting this. I am hoping to be able to figure out some sort of pattern to see what can be the reason. It did not happen on my side but haven't also investigated much. Any further info will be appreciated in the meantime.

[2021-09-06 09:04] saif-ellafi commented on #47
Thank you for taking the time to disable other mods and finding a relationship. Will take a look at this as soon as possible.

[2021-09-06 21:28] Brimcon commented on #46
During my testing, all I did was be in a world with the module with something in the chat log and then hit refresh. After a while the right side bar would be expanded, even with the setting "Start Collapsed" on.
I wish I could give more information than that.

[2021-09-06 22:14] saif-ellafi commented on #46
Thanks, that actually helped. I found the bug. Will be fixing soon

[2021-09-06 22:34] saif-ellafi commented on #47
Hi @Wraithlord2015 I tried to reproduce this problem but I am unable to. I have a few questions:

1. You mention that when you log back in, the left control bar is not present. Why is this so? Nothing in this module should hide completely the left bar. Only FoundryVTT does that when you are don't have any Scene open.
2. Could you try resetting Minimal UI default settings to see if you happen to se

[2021-09-06 22:46] saif-ellafi commented on #46
Releasing in the next 5 minutes! Thanks

[2021-09-08 11:57] Wraithlord2015 commented on #47
Will post additional information in this post as soon as I have it. Just acknowledging that I saw your response. ;)

[2021-09-08 22:31] Juanfrank commented on #41
Hello, sorry.

No it doesn't, I was suggesting building something like a "hook" that other modules authors can integrate into their code to hide/show their specific module UI.

[2021-09-09 07:29] saif-ellafi commented on #47
Thank you for exploring this! My recommendation is to use FoundryVTT Normally and track an issue if this happens again.

ps: Windows  7 btw - come on haha :)

If it happens again, feel free to open a new issue and share what were you doing when this happened. Maybe it was an update or a module that caused settings to reset to default. Otherwise the configuration should be saved on Foundry and ther

[2021-09-09 07:29] #47 closed

[2021-09-09 07:29] #46 closed

[2021-09-09 07:30] saif-ellafi commented on #42
Closed for the moment.

[2021-09-09 07:30] #42 closed

[2021-09-09 12:58] brunocalado opened #48 "Change Default"
Hi.

Can you change the Default starting settings to always show everything?

People normally hide one or two elements only. It's annoying show everything everytime you start a new world.

Thank you.

[2021-09-09 13:23] saif-ellafi commented on #48
Hi, so you mean when you install Minimal UI module, for the first time on every world, is to have settings that look exactly like Foundry Stock?

[2021-09-09 13:43] brunocalado commented on #48
Yeah, but Minimal UI makes everything nicer. This is the great feature. Hide stuff is not so used because you need it all the time.

[2021-09-09 13:53] saif-ellafi commented on #48
It is very difficult to tell how some stuff is used or not. Or did you make some polls? :) The idea of the defaults is to remind the users the things the module can do, also to give a clear impression that the UI changed to a usable state.

The two last games I played, the GM was using auto-hide left panels, but normally they just customize it.

It is only a problem if you create hundreds of world

[2021-09-09 14:02] saif-ellafi commented on #48
For when you are a GM, that is not a problem :)

For when you are a player, making that configuration as a player can help, like requested here: https://github.com/saif-ellafi/foundryvtt-minimal-ui/issues/31

[2021-09-09 17:50] Avitale34 opened #49 "Allow Button Overflow"
I have alot of modules lol and I love this one but it does not allow for button overflow. Is that an option that can be added?
![image](https://user-images.githubusercontent.com/65961637/132737066-97c6478c-55ec-4fbe-8444-e27ca08c0ef0.png)

[2021-09-10 18:25] Merudo opened #50 "[Bug] Scene Navigation Style : Start Collapsed doesn't work"
When `Scene Navigation Style` is set to `Start Collapsed`, it actually starts visible.

Not only that, it takes two clicks to make it collapsed. The first click does nothing.

[2021-09-10 20:18] saif-ellafi commented on #50
Thank you, checking it out now

[2021-09-10 20:47] saif-ellafi commented on #50
Should be fixed now @Merudo - Thank you for taking the time to report this. It has been broken since last release of Foundry 0.8.9

[2021-09-10 20:48] saif-ellafi commented on #49
True, it would be nice to have a scrolling wheel or something similar. Unfortunately I don't have the time now but will write it down on the backlog.

[2021-09-10 20:53] Merudo commented on #50
Thank you, it works great now!

[2021-09-10 22:41] #50 closed

[2021-09-11 07:32] Merudo commented on #43
Speaking of the compatibility patch, I get a lot of empty space on the right when the player is not hidden and set to standard size:

![image](https://user-images.githubusercontent.com/7371085/132940289-d2f6924a-c514-49c0-8ad4-dbf310959ad9.png)

[2021-09-11 07:48] Merudo commented on #43
Ok I wrote down a compatibility patch for Ping Logger both with and without Raise My Hand enabled:

![image](https://user-images.githubusercontent.com/7371085/132940593-ce862864-c2f2-4cb5-b0bf-3b143ed8ee9d.png)
![image](https://user-images.githubusercontent.com/7371085/132940631-4179b8be-6ab4-4e4b-99f3-73f25a34df5e.png)

Ideally this would be fixed through changing the layout instead of hardcoding

[2021-09-11 08:04] Merudo commented on #43
PR request #51 fixes the compatibility issue.

[2021-09-11 13:18] saif-ellafi commented on #43
Released! Thanks a lot. Wouldn't have happened otherwise :)

[2021-09-11 14:41] Merudo commented on #43
Unfortunately, with the new modifications the ping is still displayed on two lines when it reaches double digits:

![image](https://user-images.githubusercontent.com/7371085/132951545-9e9e05ff-47a4-4bf2-9ab2-237c52a7d7a0.png)

[2021-09-11 15:38] saif-ellafi commented on #43
Hmm, I wonder why? It looks fine to me
![image](https://user-images.githubusercontent.com/27952699/132953296-145da84e-c25a-45cc-9dc8-9bff9352649a.png)

Which browser are you on?

[2021-09-11 15:44] Merudo commented on #43
Low (0-9) pings work fine to me, but not when the ping is in the double digits (10+).

[2021-09-11 15:48] saif-ellafi commented on #43
ahh got it, ok maybe I tightened the values to much. Will set them back to 50 as you proposed originally.

[2021-09-11 16:01] saif-ellafi commented on #43
Another option would be to directly disable auto-hide mode when Ping Logger is enabled. I am not sure how high can the pings go and also a large box doesn't make sense

[2021-09-11 16:42] saif-ellafi commented on #43
Ok, I will submit a solution, to hide the pings as well if Players is in auto-hide mode. This way the pings will be visible only on hover. Just like the rest of the titles.

[2021-09-11 17:02] saif-ellafi commented on #43
Released with https://github.com/saif-ellafi/foundryvtt-minimal-ui/releases/tag/1.0.9

[2021-09-11 17:02] #43 closed

[2021-09-11 17:05] KevinRichard-GM opened #52 "Taskbar & Minimal UI Issue"
It appears Minimal UI CSS is overriding Taskbar CSS to position the macro hotbar. This causes the macro hotbar to slide to its location set by Minimal UI instead of staying above the Taskbar when you mouse over it and then slides back up to be positioned over the Taskbar when you mouse away.

Overriding the importance of the hotbar CSS in the Taskbar module fixes the issue but it has to be hacked

[2021-09-11 17:56] saif-ellafi commented on #52
Hi @KevinRichard-GM
Thanks for taking the time to report this issue.
I am trying to understand what you describe, but I am failing in the attempt. Is there any chance you can point with a screenshot what you mean exactly?

[2021-09-11 23:16] KevinRichard-GM commented on #52
![image](https://user-images.githubusercontent.com/75590180/132965782-b9af54d3-4b3b-4872-b367-6182e584b4f5.png)

[2021-09-11 23:24] KevinRichard-GM commented on #52
The Taskbar module uses CSS to move the macro hotbar above its location at the bottom of the FoundryVTT screen. When you mouse over the macro hotbar (ex. to click a macro to run), the CSS of your module forces the macro hotbar to the bottom of the screen putting it behind the Taskbar. Only leaving the top portion of the macro hotbar visible above the Taskbar. Then once the Taskbar gets focus again

[2021-09-11 23:25] KevinRichard-GM commented on #52
![image](https://user-images.githubusercontent.com/75590180/132965876-6b5b25cc-dc97-4b0f-9018-83ed526aef02.png)

[2021-09-12 01:26] Merudo commented on #43
I found what I think is a better solution, purely through CSS which also remove the need for the Raise my Hand patch.

In `#players#, I change `width: var(--playerwidth);` to `width: auto;`

then, I add these CSS styles:

[code]

And this fixes it.

[2021-09-12 10:53] Merudo commented on #43
Alternatively, we can keep `flex` and do the following

1. In #players, I change width: var(--playerwidth); to width: auto;
2. Add the following:

[code]
3. To support the Raise my Hand module, we can add

[code]
Otherwise the hand gets partially hidden.

[2021-09-12 12:26] Merudo commented on #43
PR request opened to add back the ping.

[2021-09-17 10:28] P3rc3v4l1984 opened #54 "Problems with Ping Logger"
There are incompatibility problems with the PING LOGGER module, the response time is not shown in the user box.
I imagine that due to the information box size setting. Is it possible to fix this somehow?
Thank you

[2021-09-17 13:40] saif-ellafi commented on #54
Hello @P3rc3v4l1984 -

The current support for the module is basic, but @Merudo has a proposal here: https://github.com/saif-ellafi/foundryvtt-minimal-ui/pull/53

I am unfortunately without a computer these days but will be releasing that improvement soon.

For the time being it will either show the ping on hover, or disable auto-hide option in the player list, to have it permanently visible. Make

[2021-09-17 15:06] Merudo commented on #54
Currently, the ping should be shown during a mouse-over of the user box. Is that not working?

[2021-09-17 20:33] P3rc3v4l1984 commented on #54
The ping appears directly without doing anything, and nothing comes out, using other interface modules there is no problem.

[2021-09-17 20:36] P3rc3v4l1984 commented on #54
Ok, now its working, but you need use  auto-hide option!! Thank you for help!

[2021-09-17 20:45] saif-ellafi commented on #54
So the pings are not visible in persistent mode?

[2021-09-17 20:55] P3rc3v4l1984 commented on #54
No, just in hide-mode

[2021-09-17 20:59] Merudo commented on #54
My PR #53 also fixes this.

The problem is[ this part](https://github.com/saif-ellafi/foundryvtt-minimal-ui/blob/5d489dcc0a3654350a5d1f3da1898a2bb7256d7e/styles/component/players.css#L54), which hides the ping for all modes:

[code]

[2021-09-20 17:54] saif-ellafi commented on #54
Thank you @Merudo - Now @P3rc3v4l1984 can enjoy Ping Logger with Minimal UI module in any player list format :)

[2021-09-20 17:54] #54 closed

[2021-09-20 18:22] P3rc3v4l1984 commented on #54
Clap clap, thank you! I appreciated!

[2021-10-01 10:02] simulacrum-1 commented on #52
One of my players uses a laptop so would love to use the minimal UI too but have the same issue as the Taskbar end up making it a pop-down rather than a pop-up. A vertical setting would be great.

https://user-images.githubusercontent.com/68729767/135602008-c93490b8-caa5-4b36-ba90-37d27a3f908b.mp4

[2021-10-29 13:15] cnutenor opened #55 "the left control bar overlaps the player bar."
Spectacular module! thanks.
the left control bar overlaps the player bar. is it possible to move them?
If I knew CSS I would try to move them using that module but I don't know. help.

[2021-10-31 09:55] Ponggoleechee opened #56 "Add "Manual" to Left controls position."
Love the module, amazing work.
I would like left controls to be at the very top or very bottom. "Top Left" and "Bottom Left" are far too close to the center. I love the "Manual" setting for the macro bar, and adding that to the left controls would solve my issue.

Please and thank you.

[2021-10-31 10:06] Ponggoleechee commented on #56
PS: Manually controlling the horizontal position of the scene navigation would also be very nice

[2021-10-31 18:25] cnutenor commented on #55
![image](https://user-images.githubusercontent.com/51686939/139596807-afc94f32-ddb1-4eb0-8083-ed724528d9b6.png)

[2021-11-05 08:34] Orionox commented on #52
Having the same issue

[2021-11-09 04:46] ironmonk88 opened #57 "Minimal UI and Monk's Scene Navigation compatibility."
I changed the expanded folder margin-top recently so that it drops down a little more when opened.
Could you change line 356 in the style sheet from `height: calc(var(--navilh) + 6px);` to
[code]

Thank you.

[2021-11-09 18:49] saif-ellafi commented on #55
Hi @cnutenor - thank you for using Minimal UI module.

Unfortunately I cannot do much in this regard. It is a matter of the amount of modules you seem to have. The best thing to do is use a **small icons** left-sidebar configuration, put it to the highest position possible and if that does not suffice, hide or auto-hide the players box.

Regardless of Minimal UI or not, this is a Foundry issue unf

[2021-11-09 18:49] #55 closed

[2021-11-11 15:50] saif-ellafi commented on #57
Going in a release soon. Thanks.

[2021-11-11 15:50] #57 closed

[2021-11-14 03:35] Farmeroz opened #60 "Default transparency change in latest update appears to ignore module settings"
The most recent update which changed the default transparency to 25 from 75 appears to now ignore the user or GM setting in the module regarding intial transparency.

I tried to set back to 75%, but it remains at 25% regardless of which of my wolrds I use or restarting the servers and so on.

[2021-11-14 03:47] saif-ellafi commented on #60
Thank you @Farmeroz for letting me know so fast. Will fix it in a second, I made a small mistake.

[2021-11-14 03:55] saif-ellafi commented on #60
Fixed in 1.1.4. One should not code at 5am. Thanks!

[2021-11-14 03:55] #60 closed

[2021-11-14 04:45] Farmeroz commented on #60
Fantastic - thanks for the super fast fiix :-)

[2021-11-15 06:21] CardinalRed1 commented on #52
+1 to having a similar issue. @simulacrum-1's video is a good summary of the hotbar going into the taskbar.

[2021-11-15 07:00] ghost opened #61 "Module Integration Issues"
Minimal UI plays rough with any modules that add a third column to the left bar menus (e.g. DF Curvy Walls, Monk's Wall Enhancements, and likely more).
![image](https://user-images.githubusercontent.com/93453050/141736055-d1667b89-9d51-49f1-9060-ae0d9706a458.png)

There is also an issue with ripper's Taskbar and the macro menu with Minimal UI. Instead of popping upward on hover, it will move downw

[2021-11-15 10:59] saif-ellafi commented on #61
Thank you, it is unfortunately really time consuming to investigate other modules and understand how they work to make an appropriate adaptation. I will consider this but any developer's help will be appreciated on this direction. The amount of modules with conflict is also significantly increasing as Foundry increases in complexity.

[2021-11-15 20:40] CardinalRed1 commented on #61
Completely understandable. Definitely take your time with this as it is your code and your project. I crossposted it to DF's git and the issue has been brought up with ripper as well. [flamewave expressed interest in assisting](https://github.com/flamewave000/dragonflagon-fvtt/issues/211#issuecomment-968591737) and ripper is likely to help integrate his modules as well. Once again, thank you so mu

[2021-11-20 07:11] GambetTV opened #62 "BUG: Hotbar Default Position inaccurate"
For some reason when the hotbar is set to the Default position, it is way too far to the right. Changing the hotbar to another option, and then going back to Default will put it in the correct position, but the next time you refresh the window it breaks again and goes elsewhere.

[2021-11-20 09:45] saif-ellafi commented on #62
Thank you for taking the time, will check it out immediately.

[2021-11-20 14:51] saif-ellafi commented on #62
Fixed. Thank you for letting me know @GambetTV !!

[2021-11-20 14:51] #62 closed

[2021-12-13 23:38] justinthejaguar opened #64 "Argon Combat UI Interaction"
When I hit the cross-swords icon to bring up the Argon combat UI, the left panel opens. Nothing out of the ordinary in the console log when I do this. Version is 0.8.9

[2021-12-14 01:00] Fridan99 commented on #64
The same thing happens to me, when I open the Argon hud the left panel appears and locked (i have the autohide option).... only happens when i activate the hud (cross-swords), then when the hud is active it doesn't happen until you reactivate again..... it can be unlock normally pressin in the red lock.. but it's a curious bug. 🤣 🤣 🤣 🤣 🤣

[2021-12-14 12:53] saif-ellafi commented on #64
Thanks, I might be able to patch this today (add a rule-out exception for this specific module). Ideally modules shouldn't "simulate" clicks, but well for now it is the fastest patch I can think of.

It this Argon Combat UI module a popular module overall?

[2021-12-14 13:38] justinthejaguar commented on #64
It only released on October 11, but imho it is one of the smoothest looking UI's I have seen for foundry. It is inspired by a D&D 5e game hud and UI. The game is called Solasta. I can see it becoming very popular in that it is extremely helpful in teaching players how to play D&D 5e. As to how many downloads it has, you would need to ask theripper93. As to why he is resistant to changing his use o

[2021-12-14 13:59] Fridan99 commented on #64
I believe that yes, it is a module that is becoming very popular and is under continuous maintenance.

[2021-12-14 15:45] saif-ellafi commented on #64
hehe thanks all. Yes, asking for popularity is not at all of relevance in terms of support, just curiosity on whether it was something out there part of D&D people toolsets :D
Glad to see that and will check it out myself

[2021-12-14 16:47] saif-ellafi commented on #64
@justinthejaguar @Fridan99 could you give me a hand? - In general any button you press on the left-side controls will "lock" the sidebar. So clicking the swords button which also is a control button, will lock the left-side bar.

The lock was made out of convenience, in order to switch between controls and to prevent the sidebar from auto-hiding when the user is working on the tools. To hide it ag

[2021-12-14 16:48] saif-ellafi commented on #64
Ahh I see just the ripper explained to me that is the token-hud what is triggering it.

[2021-12-14 17:54] saif-ellafi commented on #64
Just released 1.1.9 -- Thank you @Fridan99 and @justinthejaguar for reporting this. Please confirm if all look good!

[2021-12-14 21:27] Fridan99 commented on #64
I can't automatically update minimal ui from 1.1.8 to 1.1.9

Foundry 0.8.9
![6](https://user-images.githubusercontent.com/86131373/146081968-c0ec1ec7-75ec-4157-b9a1-6adc10b3d787.jpg)

[2021-12-14 21:28] saif-ellafi commented on #64
Ouch... This V9... Ok. I have deleted the Foundry V9 release. Please wait about 5 minutes and let me know if works then! Thank you

[2021-12-14 21:44] Fridan99 opened #65 "Suggestion: left bar control position"
I don't know if it is possible, but it would be useful to have the position control of the left bar. When you have too many things in the bar, it tends to hide down.... if you could raise it slightly with some option, it would be useful.
![6](https://user-images.githubusercontent.com/86131373/146084059-45c258e8-4203-4fdd-b74c-312bf9503943.jpg)

It's just an idea, in case you see it useful and it c

[2021-12-14 22:26] justinthejaguar commented on #64
This works perfectly on V0.8.9 for me. Thank you!

[2021-12-14 22:38] Fridan99 commented on #64
How did you update? manually? in the repository app I can't do it

[2021-12-14 22:41] justinthejaguar commented on #64
I run mine using node.is on a raspberry pi. I just updated it in the module screen.

[2021-12-14 22:54] Fridan99 commented on #64
Minimal ui 1.1.9
https://github.com/saif-ellafi/foundryvtt-minimal-ui/releases/download/1.1.9/module.json

Upgrade to this link, if anyone use 0.8.9 Foundry.... courtesy of the module author. Apparently it is not possible to update correctly from the app repository. Just paste in the Manifest URL and install.

[2021-12-19 14:28] CasanovaSekova opened #66 "Compatibility for ripper's taskbar"
Theoretically the code below should work if inserted in the minimalui.js file
https://github.com/CasanovaSekova/foundryvtt-minimal-ui/pull/1

[code]

I made the same types of changes in the .css file for minimal ui to get around the taskbar and macro bar + player bar overlapping in minimal ui.

Also sorry for the bizarre format of this :( Still getting used to github

EDIT: The code no longer work

[2021-12-19 23:14] saif-ellafi commented on #66
Thanks! Compatibility is the challenge. For now my preferred strategy is to wait for Foundry V9 before making changes to the current branch. We'll have to see how things evolve from there as V9 changes many things!

[2021-12-19 23:15] saif-ellafi commented on #65
That is unfortunately something Foundry has to help us with!!! For now let's wait until V9 and see how things evolve. The left side panel changes significantly in V9 and many features may no longer be supported

[2021-12-21 09:48] GambetTV opened #67 "BUG: FPS Counter is moved with no option to change its position"
By default Foundry places the FPS meter on the bottom right of the screen. Your module puts it in the bottom left, which is obscured by the player list, and from what I can tell there's no option to move it elsewhere. It'd be cool if there was an option to manually adjust the position of the FPS meter.

[2021-12-21 09:52] GambetTV opened #68 "BUG: Hotbar & player list positions too high"
For some reason the positions of the macro hotbar and player list has been raised several pixels from the default, and there doesn't seem to be a way to move it back down.

[2021-12-21 13:02] saif-ellafi commented on #68
Hey @GambetTV Thanks! - Could you please check the recently released 1.3.0 build?? Assuming you are on V9. I patched that up before checking this issue.

[2021-12-21 13:07] saif-ellafi commented on #67
Thanks will fix this in 1.3.1

[2021-12-21 18:00] Brimcon opened #69 "Minimal UI Printing True/False when minimizing/maximizing the Chat Window"
As said in the title, whenever you minimize or maximize the chat window
![image](https://user-images.githubusercontent.com/7198283/146976938-45e0b218-9068-4cdb-8645-589dff2557e1.png)
is printed in the console.

[2021-12-21 18:09] Brimcon opened #70 "Transparency settings for Left Sidebar only take effect on click"
When loading a world or refreshing the page the left sidebar does not obey transparency settings until clicked upon.
Eg: I have transparency set to 5% and the left sidebar is at default value. Can be seen here with the difference between the navigation controls vs left sidebar.
![image](https://user-images.githubusercontent.com/7198283/146977990-ef009902-cfa0-4a22-8a42-5ec432a8c924.png)

[2021-12-21 19:30] saif-ellafi commented on #70
Thank you for reporting this! Will address soon

[2021-12-21 19:30] saif-ellafi commented on #69
Ooops :D

[2021-12-21 19:40] saif-ellafi commented on #67
Fixed! Please let me know otherwise

[2021-12-21 19:40] #67 closed

[2021-12-21 19:42] saif-ellafi commented on #69
Fixed! Thank you

[2021-12-21 19:42] #69 closed

[2021-12-21 19:42] saif-ellafi commented on #70
Fixed and released in 1.3.2 thank you very much! Let me know for anything else!

[2021-12-21 19:42] #70 closed

[2021-12-22 19:47] ravingdragoon commented on #66
I would like to second this request. I am having issues with the macro bar dropping below the taskbar when I try to change the page on the macro bar, even though I have the macro bar set to be always visible.

[2021-12-23 08:48] saif-ellafi commented on #64
Fixed

[2021-12-23 08:48] #64 closed

[2021-12-23 08:49] saif-ellafi commented on #61
I would be curious if this is still valid in V9

[2021-12-27 01:39] Tobyn52 commented on #68
Hello.  I've done a bunch of testing, and it seems the culprit is Custom Hotbar. I tested the following combinations:

**1. Minimal UI, Monk's Hotbar, Custom Hotbar**
Core hotbar ends up positioned higher and the to right. Minimal's hotbar repostioning doesn't work. Custom's hotbar repositioning doesn't work.

**2. Minimal UI, Custom Hotbar**
Core hotbar ends up positioned slightly higher. Minimal

[2021-12-27 02:13] saif-ellafi commented on #68
Hey @Tobyn52 - your conclusions are correct. Custom Hotbar is enforcing positioning on the core Hotbar. However on today's release I have provided a workaround. Ideally, the change should be on custom Hotbar but at least for now we can survive this way.

Let me know if the latest version works fine.

[2021-12-30 15:07] jrdstauffer opened #71 "Question about section of code in minimalui.js"
May I ask what the code on lines 909-917 (version 1.4.0) / lines 1148-1156 (version 1.1.8) of minimalui.js is for? This code is activating the tabs on the sidebar which opens the section as a popout. My module, Sidebar Expander, tries to prevent this behavior but Minimal UI is forcing it to still happen.
[code]

[2021-12-30 18:49] saif-ellafi commented on #71
Hey there @jrdstauffer - sorry for the delay. That seems to be a very old chunk of code, intended to reopen sidebar applications that are already "active" when the sidebar is collapsed.

Image you click on the Actor sidebar, and it opens the actor app (floating if sideebar is collapsed), then, if you close it, the actor tab will still remain active, so in Core Foundry, if you click it again, nothi

[2021-12-30 18:53] saif-ellafi commented on #71
It could also be the case that Foundry V9 does no longer suffer from this issue., as I have reported it in the past.

[2021-12-30 19:41] jrdstauffer commented on #71
Thanks for the explanation. Makes sense to me what you did it for. Since you discovered it's no longer needed in v9, do you plan on removing it? That would take care of the issue going forward and for Foundry version 0.8.9, Minimal UI is locked at version 1.1.8 I can advise users to comment out that segment of code as I can't think of a better way for you to do it and eventually everyone will move

[2021-12-30 19:50] saif-ellafi commented on #71
Will do, and release soon!

[2021-12-30 20:11] jrdstauffer commented on #71
Thank you very much!

[2021-12-30 22:00] #71 closed

[2022-01-01 01:44] Farmeroz commented on #68
This latest version is causing a problem now. The main hotbar now "mirror" up the top of the screen (FVTT 0.8.9) and it "flickers" when hovering over it and you can't see any tool tips etc.  Reverted to previous version and everything works as expected.

[2022-01-01 08:02] saif-ellafi commented on #68
Hmm what happened @Farmeroz - is this compatibility issue? Which version are you on?

[2022-01-01 08:31] Farmeroz commented on #68
@saif-ellafi on FVTT 0.8.9 using Minimal UI 1.1.1.0 there is a glitch as follows:

![image](https://user-images.githubusercontent.com/89975749/147846874-e15b4dbc-39eb-4eda-b0b8-632c96c67e7f.png)

Main hot bar at bottom "flickers" and appears at the top of the page (and any mouseover/tool-tip appears on the top one.

![image](https://user-images.githubusercontent.com/89975749/147846901-57ecaf4a-6e0

[2022-01-01 08:47] saif-ellafi commented on #68
Thanks, but there must be a confusion. V9 does not wok with 1.1.9, Foundry V9 works with 1.2.0 or higher. Will take a look what is the issue here.

[2022-01-01 08:50] Farmeroz commented on #68
Thanks. It's weird!

[2022-01-01 08:50] saif-ellafi commented on #68
@Farmeroz the last image you posted happens when you use Minimal UI 1.1.X with Foundry V9.

For V9 you should use Minimal UI 1.4.1 which is the latest version.

[2022-01-01 09:06] saif-ellafi commented on #68
Yes confirmed 1.1.10 is broken with Custom Hotbar... I guess this is why I didn't want to support multiple versions of Minimal UI :( will see to fix it

[2022-01-01 09:10] Farmeroz commented on #68
Thank you.  I think support for 0.8.9 only needs to be for a little while until everyone can move to V9 when all other modules are available.

However, on The Forge, the latest version available is 1.1.1.0 it seems?

![image](https://user-images.githubusercontent.com/89975749/147847567-e0813a18-d05f-4400-a90e-8daeb5780e2f.png)

[2022-01-01 09:22] saif-ellafi commented on #68
Yes, 1.1.10 is the last version for Foundry 0.8.9 , while 1.4.1 is the last version for V9
I am not sure how the Forge works with multiple version builds!

BTW: I found the issue you mentioned above - I have fixed it without a new release (I had forgotten a line of code). If you uninstall 1.1.10 and reinstall it again, it should now work!

You can use this Manifest: https://github.com/saif-ellafi/

[2022-01-01 09:29] Farmeroz commented on #68
Thanks, 1.1.10 from https://github.com/saif-ellafi/foundryvtt-minimal-ui/releases/download/1.1.10/module.json works perfectly in 0.8.9

[2022-01-01 14:54] remiverdel opened #73 "Folder colored bar disappears with monk's enhanced navigation"
Hi,

I wondered if you could still make the monk's enhanced navigation closed folder colored bar appear in the navigation. (Maybe not if the player chose extrasmall as it could be hard to make it appear so small). It's a pretty useful feature imo as it can get really messy when you have a lot of folder and you can't easily distinguish between folders or scenes.

Hope it's not an incompatibility th

[2022-01-06 18:53] brunocalado opened #74 "[Request] Import/Export Settings"
Hi. This is the best UI!

Can you create a export/import minimal ui settings?

I set minimal UI in a way, but I have lots of worlds. It's very annoying have to set it to new worlds and after updates. Using a import feature a could just patch it with one click.

Thank you.

[2022-01-06 19:22] saif-ellafi commented on #74
Hello @brunocalado - Thank you for the kudos! Good idea, will write it down.
I was also thinking of a first-time setup to offer users 2-3 different combinations.

Have you ever seen any module exporting its configuration?

[2022-01-06 19:47] brunocalado commented on #74
- Achievements
- Better rolls 2
- CUB
- token tooltip

[2022-01-06 19:48] brunocalado commented on #74
One of the presets could be something like: SHOW EVERYTHING WITHOUT TRANSPARENCY. This is a pain for the new players "I can't see the bar" lol. I like minimal because it uses less space.

[2022-01-06 19:57] saif-ellafi commented on #74
Thanks @brunocalado  - Good to know the transparency is not good by default. I don't have any channel or means of feedback. Users only tell me bugs :D

[2022-01-07 16:34] smturg opened #75 "Navigation Overflow"
After update to Foundry 9.241 - overflow of the Nav bar doesn't seem to be reading correctly. It runs to beyond the end of the row, through the right side panel (whether collapsed or not), and past the end of the window.

The last item in the row will run past the edge of the screen, and if another item is added to the toggle, it will overflow from there. Likewise, it doesn't resize based on wheth

[2022-01-07 16:55] saif-ellafi commented on #75
Hey @smturg - Thanks! Will check this out!!

[2022-01-07 17:35] Zarhog opened #76 "Lock on extending the Player config bottom right"
Can you please add a feature that prevents people from extending the player config in the bottom right please thank you, just a we toggle in the settings :)

[2022-01-07 18:04] saif-ellafi commented on #76
Hello @Zarhog !! Thanks but I don't really understand what you mean :)

Are you trying to hide only from your players, the capability to see the players list? and only for the GM?

[2022-01-07 18:40] saif-ellafi commented on #75
@smturg - kindle check 1.4.7 when possible, as this should be now fixed! Thank you

[2022-01-07 18:49] smturg commented on #75
@saif-ellafi - Cheers! Can confirm 1.4.7 addressed the overflow issue. Greatly appreciated!

[2022-01-08 12:32] brunocalado opened #77 "v9"
Hi.

Please remove the foundry vtt warning.
![image](https://user-images.githubusercontent.com/4999783/148644257-5bdf145d-8b0d-4f99-b989-b94a87192a83.png)

Replace "compatibleCoreVersion":"0.9.0" by "compatibleCoreVersion":"9"

[2022-01-08 12:44] brunocalado opened #78 "[Module Compatibility] Web RTC"
Hi!

Can you make minimal UI work well with Web RTC on v9?

The cam stays over the hotbar.
![image](https://user-images.githubusercontent.com/4999783/148644592-f152baf5-e1ac-4b20-a754-ed9667660ee9.png)

without minimal ui
![image](https://user-images.githubusercontent.com/4999783/148644619-41eb29d6-c92b-433e-a201-0eb68faf973e.png)

Module: https://github.com/bekriebel/fvtt-module-webrtc_tweaks

Th

[2022-01-08 13:44] saif-ellafi commented on #77
Hi. I am not sure, this was made by choice. I cannot guarantee that if Foundry updates, Minimal UI will continue to work correctly. Any style change that Foundry makes in any V9 release could have a compatibility risk.

[2022-01-08 14:09] brunocalado commented on #77
Yes, I understand. But, the foundry add this because their plans is not make breaking changes in a major version (v9, v10, etc).

With their build system a module without something like **"compatibleCoreVersion":"9"** will always have the warning tag.

I don't think there is no risk in a very small bug, but I don't think it you break minimal ui.

docs: https://gitlab.com/foundrynet/foundryvtt/-/is

[2022-01-10 06:15] #75 closed

[2022-01-12 03:13] Zarhog opened #79 "Feature: Hide Clear ALL trashcans"
Can you please add a toggle in settings to hide the delete all button from all GMs (as in the Trashcans on the left and side)

[2022-01-13 20:08] yjeroen opened #80 "Compatibility issue with combat carousel control button"
![image](https://user-images.githubusercontent.com/1303988/149401589-d5863091-e394-486e-a132-382361ef6237.png)

The combat carousel icon (on the bottom) isn't made smaller.

[code]

[2022-01-14 00:27] saif-ellafi commented on #80
Hi @yjeroen thanks for reporting this

Not my intention to sound blunt, but Minimal UI does not make any particular distinction between control buttons. Adding a particular exception for Combat Carousel would be unfair from my side. This should be reported over to Combat Caroussel, so the module owner uses standard Windows properties, like the rest of the buttons.

[2022-01-14 00:28] saif-ellafi commented on #79
Hello @Zarhog

I see you are very short in words to describe what is what you are looking for and why you think Minimal UI should address this :)

If I understand correctly, the delete all from Context Menu (Right Click on item folders, etc), is beyond the scope of a UI module, I believe.

[2022-01-14 11:07] yjeroen commented on #80
Understand your point!
I've also opened an issue on their end:
https://github.com/death-save/combat-carousel/issues/125

[2022-01-14 14:15] adotor opened #81 "Compatibility issues with Custom Hotbar"
Using MinimalUI with Custom Hotbar CHB is incompatible since I upgraded to Foundry v9

Foundry: 9 Build 242
MinimalUI: 1.4.11
CHB: 2.2.0

See Screenshot.

![image](https://user-images.githubusercontent.com/7715059/149529454-12e40ee4-0c10-455c-abe5-cf64648f888c.png)

[2022-01-14 14:16] GambetTV opened #82 "REQUEST: Remove buffer zone of the chat room"
By default Foundry keeps everything feeling pretty floaty, with buffer zones around all of its panels and windows. For the most part this doesn't bother me, but I find the chat room to be really irritating, as it is essentially covers the entire right side of the screen, top to bottom, but keeps a 5-pixel or so buffer zone at the top and rightmost side of the screen. I know it's only 5 pixels, so

[2022-01-15 16:19] Zarhog commented on #79
no on the left hand side under the tools, each catagotie comes with a
trash can, clicking on this trash can will delete all items associated with
it suich as wells. i wish to hide this trashcan and diable it so no one can
click on it

On Fri, Jan 14, 2022 at 12:28 AM Saif Addin ***@***.***>
wrote:

--
*Dylan McLean*

[2022-01-16 18:08] cr45hmurphy opened #83 "Left Sidebar Formatting Issue - v9"
After upgrading to FVTT v9, left sidebar appears to be messed up when Minimal UI is enabled. Hotbar and right sidebar appear to behave as expected.

![image](https://user-images.githubusercontent.com/4840152/149672246-4643caa5-ced6-4bbd-a949-99f6f2d7dede.png)

[2022-01-16 18:11] saif-ellafi commented on #83
Oh wow. That is a whole new level of broken. @cr45hmurphy can you please Press F12 and send me a screenshot of any errors (RED colored text)?
I believe you have something going on. Also please try uninstall and reinstall minimal-ui, making sure you are on the last version too!

[2022-01-16 18:13] cr45hmurphy commented on #83
@saif-ellafi Can do! But, before I do that, I do NOT think the issue is actually Minimal UI, and I may have pulled the trigger to quickly. Even with it off, the left sidebar is not working, so that tells me it is a different module causing issues. I will update shortly.

[2022-01-16 18:29] cr45hmurphy commented on #83
Update:

Left sidebar appears to be functional, with and without Minimal UI. However, with Minimal UI enabled, I cannot actually hide it. Here is a screenshot of the console:

![image](https://user-images.githubusercontent.com/4840152/149672982-19fa6b29-5489-496c-98fb-6d8a864cebbd.png)

[2022-01-16 18:50] saif-ellafi commented on #83
I suggest following this on the Foundry VTT Discord! These errors don't seem to be related at all with Minimal UI. Something else is going on here. Errors seem to relate to initiative, better rolltables and turn makers. Make sure your modules are compatible with V9 too.

[2022-01-16 18:50] cr45hmurphy commented on #83
@saif-ellafi Understood. I'm going to close this out. My apologies for jumping the gun!

[2022-01-16 18:50] #83 closed

[2022-01-20 12:14] saif-ellafi commented on #81
Hey @adotor - it works pretty fine for me on first impression.
In any case, I don't plan on improving compatibility with Custom Hotbar any further.
The module has made 0 effort on being compatible with other modules, and it uses style elements with tag `important`, placing itself above any other modules. I am not a big fan of such approaches. But yet, there are code in Minimal UI that makes it wor

[2022-01-20 12:47] adotor commented on #81
Thank you fpr your efforts.

I wasn‘t aware of the state of the CHB Module regarding UI compatibility. I fully agree: A module implemented for a framework should behave as minmal invasive as possible.

[2022-01-22 20:28] #79 closed

[2022-01-22 20:28] saif-ellafi commented on #77
Done a few releases ago!

[2022-01-22 20:28] #77 closed

[2022-01-22 20:28] #6 closed

[2022-01-22 20:29] saif-ellafi commented on #19
This is now part of Window Controls separate module

[2022-01-22 20:29] #19 closed

[2022-01-22 20:29] saif-ellafi commented on #81
Thank you for understanding

[2022-01-22 20:29] #81 closed

[2022-01-22 20:30] saif-ellafi commented on #80
Thank you, I hope this can be resolved on the other side of the story! It is indeed a nice module. Ping me again if you get resistance on the other side, I can consider some hacky wacky stuff, but hopefully not!

[2022-01-22 20:30] #80 closed

[2022-01-22 20:32] saif-ellafi commented on #73
Hi @remiverdel - I cannot find any module under that name. Is that a Foundry published module and supported by V9?

[2022-01-22 20:33] #68 closed

[2022-01-22 20:34] saif-ellafi commented on #66
Sorry @CasanovaSekova @ravingdragoon, this proposed module's compatibility is behind a paycheck. Totally out of my desired reach. Do check out my module **Window Controls** it has a Taskbar mode. Probably not as fancy as one professionally made but still... :)

[2022-01-22 20:34] #66 closed

[2022-01-22 20:34] saif-ellafi commented on #65
I believe this has been improved by Foundry's V9!

[2022-01-22 20:34] #65 closed

[2022-01-22 20:35] #61 closed

[2022-01-22 20:35] remiverdel commented on #73
Hi, @saif-ellafi, my bad, the module is named : Monk's Scene Navigation

[2022-01-22 20:35] saif-ellafi commented on #49
Should be fine in V9

[2022-01-22 20:35] #49 closed

[2022-01-22 20:36] saif-ellafi commented on #48
After some thought, current defaults should be and are much more default friendly, and less of a first impression shock. Thank you @brunocalado

[2022-01-22 20:36] #48 closed

[2022-01-22 20:37] saif-ellafi commented on #41
Cannot do much here, need to support custom requested elements. Ideas welcome.

[2022-01-22 20:37] #41 closed

[2022-01-22 20:38] saif-ellafi commented on #30
This should be better now, as the autohide hotbar mode partially shows itself rather than its shadows, as earlier versions.

[2022-01-22 20:38] #30 closed

[2022-01-22 20:39] saif-ellafi commented on #21
Is this a valid issue, @benbarbour? Please re-open if so, it has been a long time now, and there is V9

[2022-01-22 23:11] Zarhog commented on #79
ah i see

On Sat, Jan 22, 2022 at 8:28 PM Saif Addin ***@***.***> wrote:

--
*Dylan McLean*

[2022-01-26 18:15] benbarbour commented on #21
Now the video windows obscure the minimized windows. I've since moved to top bar (and might be going with the new experimental permanent bar along the top), so it doesn't affect me, but it's still not nice behaviour. 🤷

![image](https://user-images.githubusercontent.com/487715/151222449-01739bd9-f805-47a6-bd54-f2c85c1bdc61.png)

[2022-01-27 01:49] saif-ellafi commented on #21
Thank you @benbarbour - but I wonder if this issue is with Minimal UI or Window Controls. Need to test a bit the camera features, I haven't been using them for a while.

[2022-01-27 01:50] benbarbour commented on #21
Oh right. I think I filed this before they split.

[2022-01-27 01:51] saif-ellafi commented on #21
oh! A historical bug then :D

[2022-02-06 17:53] p4535992 opened #84 "FIx: Remove the to much margin top on the Scene controls panel"
FoundryVTT Core Version: 9.249
System: dnd5e 1.5.7
ModuleVersion: 1.4.16

A notice i get to much margin top on the scene controls:
![img1](https://i.imgur.com/VXkv7hZ.png)

A simple solution mayvbe is to remove margin-top: var(--controlstop); line ?
[code]
here the result:
![img2](https://i.imgur.com/1FpbLqa.png)

[2022-02-08 07:41] saif-ellafi commented on #84
Hey @p4535992

Thank you for the feedback. Yes right now the control y-axis position is not defined since the V9 build.
I guess, I will soon push a configuration for the user to pick it's preferred position, also remember that many users have 3-5 rows of scenes in the navigation above!

[2022-02-13 01:07] justinthejaguar opened #85 "Compatibility: Item Piles"
I noticed a strange bug that occurs between Minimal UI and Item Piles. I wasn't sure who to notify tbh...

![image](https://user-images.githubusercontent.com/38022481/153734000-3e13d2e7-c53d-4b8d-97aa-83da531dfb5f.png)

[2022-02-17 18:20] saif-ellafi commented on #20
Took a year but I finally did it - @benbarbour this feature is in 1.4.18

[2022-02-17 22:48] saif-ellafi opened #86 "Issue with Camera modes"
Minimal UI update, if someones camera was moved from bottom bar location, and they disable their feed, AND minimal UI was set to hide disabled cameras, where the camera was is left a grey box, and the user is unable to turn their camera back on.  Minimal UI setting must be changed back to show before user can turn camera back on.  Adjusting camera in devices does not bring it back.

If "reduce" se

[2022-02-18 01:12] saif-ellafi commented on #86
Fixed in 1.4.19

[2022-02-18 01:12] #86 closed

[2022-02-18 21:04] JasonSlingsCode opened #87 "Add Manual Vertical Positioning of Player Bar and Macro Hotbar"
This is to overcome limitations surrounding the Player Bar and Macro Hotbar being hidden behind the taskbar of the `Taskbar` module by theripper93.

Allow setting for:

- Manual (Horizontal)
- Manual (Vertical)
- Manual (Both)

Screenshot of current issue:
<img width="971" alt="Screen Shot 2022-02-18 at 16 03 55" src="https://user-images.githubusercontent.com/5216225/154760968-aeede3ce-eed1-4102-8

[2022-02-26 05:23] Doresain commented on #52
Same issue here. An alternative (and maybe simpler) option would be to provide a 'default position' option for each element's position option that refrains from overwriting it's position via CSS (and thereby overwriting any changes other modules might be making).

[2022-02-26 05:27] Doresain commented on #87
This appears to be the same issue as #52 .

An alternative (and maybe simpler) option would be to provide a 'default position' option for each element's position option that refrains from overwriting it's position via CSS (and thereby overwriting any changes other modules might be making).

[2022-03-02 00:45] Chryron opened #88 "Left Controls size does not change"
After the latest update to foundry yesterday, the left control panel returned to its standard size. Changing the size between small and standard in the minimal ui configuration page has no effect.

![image](https://user-images.githubusercontent.com/43299520/156273058-0cae9d78-f446-43e7-8fc5-9ffc3b68680f.png)
![image](https://user-images.githubusercontent.com/43299520/156273051-4a972b5b-ffab-456e-8

[2022-03-02 01:06] MorganVergara commented on #88
I would like to second this. My environment is:

Foundry v9.251
DnD5e 1.5.7
Active Modules:

![image](https://user-images.githubusercontent.com/30846057/156275137-e6cbd7e5-3060-4496-984c-904db231b4c1.png)

Thanks!

[2022-03-02 03:18] sigshot552 commented on #88
![image](https://user-images.githubusercontent.com/66184944/156288522-0227aeb6-1803-4d52-9826-d3465e884116.png)

can confirm the same issue

[2022-03-03 01:01] saif-ellafi commented on #88
Dear all, Minimal UI should now work well with the latest Foundry version. Please let me know if otherwise.

[2022-03-03 04:32] GojimboGoGo commented on #88
It looks very nice, thanks!

![image](https://user-images.githubusercontent.com/31174444/156496605-80684077-8496-40d0-902f-170ec1abd92b.png)

[2022-03-03 14:17] MorganVergara commented on #88
Hmm.. buttons are now the correct size, with the correct margins between them. Two problems remain:

- The gap at the top is still quite large, and,
- When the buttons are large and spill over into another column, they are still clipped.

![image](https://user-images.githubusercontent.com/30846057/156582430-3bd7a5ff-39c3-4471-848c-5e1f166db39e.png)

I usually keep the buttons small, but I thought

[2022-03-03 17:13] Orionox opened #89 "Incompatibility with foriens quest log."
This is a relatively small incompatibility, but if the hide right panel on startup option is selected, then foriens quest log gets locked tot he left side of the screen

[2022-03-03 18:26] saif-ellafi commented on #88
Thanks @MorganVergara but I cannot reproduce this overflow on the latest version. The Margin top did not change from previous version. I don't remember why I added that space on top but it is not new.

Regarding the Overflow, I cannot reproduce that. Can you try without modules?

[2022-03-04 13:46] saif-ellafi commented on #88
Closing. Please follow other issues in separate issues accordingly. This fix was related to the latest Stable 3 version of Foundry. Thank you  all.

[2022-03-04 13:46] #88 closed

[2022-03-04 20:24] MorganVergara commented on #88
It's a bit difficult to reproduce without modules since the additional
modules are what is causing the overflow to happen :) Without modules,
there's not enough buttons there to overflow. In any event, it's not a big
deal since the main reason I use minimal UI is to get the smaller buttons,
which don't lead to overflowing.  Thanks for fixing the other issue, though!

Morgan

On Thu, Mar 3, 2022 at

[2022-03-04 22:02] saif-ellafi commented on #88
Thanks @MorganVergara - could you open a new issue to address that specifically? With the list of modules that add up to that issue.

[2022-03-05 08:48] saif-ellafi commented on #89
Hi @Orionox  - Thanks, but I do not understand the issue. Any screenshots to see an example?
I collapse the right sidebar on startup and nothing strange happens with the Quest Log

[2022-03-05 11:05] Orionox commented on #89
![Gen_Info](https://user-images.githubusercontent.com/20059838/156880281-5139d53c-8be0-42dc-822f-f86de4a23bfa.PNG)
![MinimalUI_settting](https://user-images.githubusercontent.com/20059838/156880310-1cda9479-bebb-492c-a74a-fb7d4e494ab2.PNG)
![Questt tracker](https://user-images.githubusercontent.com/20059838/156880351-5c0e7a08-e6a2-4979-b1c8-458b0ac9b1a2.PNG)
If the underlined option is selected, t

[2022-03-10 01:13] Gvicross opened #90 "The Left Controllers dont work like expected"
Before of the last att, I can manipulate position of the left controler (it have a lot of buttons, and I set upper left) and now, no more. Ans yet, the color change of the ui, dont affect the left controls.

[2022-03-25 18:20] Gray-Geist commented on #57
Did this ever release? Wanted to reply and say the issue still persists between the two. You can see in the image below that there should be many more folders under "Battlemaps" but it only shows one.

![image](https://user-images.githubusercontent.com/76698563/160179069-ddc7e5c1-db3c-467d-8f98-b93496e8beef.png)

[2022-03-25 23:07] sharkbruhaha commented on #52
same issue in v9. Talked to Ripper and they said that they can not fix it on their end, it is something in Minimal UI that needs to be modified.

[2022-03-29 23:08] CSalamanca opened #91 "camera off doesn't show avatar image"
When I change to camera off on my player and I have "camera mode" default in "minimal ui" settings, foundry doesn't show my avatar, only a transparent square.
I don't know if you like it, but could you please add and option with "avatar"? Thanks.

[2022-04-02 10:20] saif-ellafi commented on #90
Hi @Gvicross - The colors I fixed. Thank you! have fun

[2022-04-08 16:23] DivertedCircle commented on #87
I'll second support for this request. If possible, I'd also appreciate a toggle to disable to macro bar slide when hovered.

[2022-04-11 06:58] dhorkin opened #92 "Cameras overlap the hotbar"
This should mostly speak for itself. Using the latest Foundry v9 version. This only happens with Minimal UI turned on.

![image](https://user-images.githubusercontent.com/16787581/162681926-051b74e3-ce50-4dc9-8679-fe0c967e38ea.png)

[2022-04-15 15:10] saif-ellafi commented on #92
Fixed. Thanks @dhorkin
I hope Foundry stops changing style names between minor updates.

[2022-04-15 15:10] #92 closed

[2022-04-15 21:04] Killasaurus-Warbear opened #93 "Some buttons break when camera undocked and disabled"
When "No Camera Behavior" is set to "Default" or "Reduced" and the camera is Popped Out/Undocked the buttons for "Send to Dock" and "Configure Settings" move and become impossible to click until camera is re-enabled.

Also, when camera is Docked and Disabled and "No Camera Behavior" is set to "Default", the same two buttons from above move into an more inconvenient location (over the nameplate of

[2022-04-15 21:45] saif-ellafi commented on #93
Thanks for reporting it @Killasaurus-Warbear -
At this point, my best bet is to disable this feature... Foundry VTT keeps changing the way it works every release, and it is more pain than it's worth it to keep fixing it everytime :)

[2022-04-16 03:45] Killasaurus-Warbear commented on #93
That's too bad. The feature is awesome, and my players with smaller monitors/laptops definitely appreciate it. But, I definitely understand disabling it at least until Foundry stops tweaking it so frequently. It still amazes me that this isn't a standard feature of Foundry considering how much screen real estate those boxes take up by default.

[2022-04-16 09:46] saif-ellafi commented on #93
Hi @Killasaurus-Warbear - I hope I got it right this time. Fixed in .24 - Could you please check? Thanks

[2022-04-16 13:22] Killasaurus-Warbear commented on #93
It looks like all the buttons are back where they belong. I'm not sure if this is the intent or not, but the avatars don't become "Reduced" down to nameplates when Popped-Out/Undocked, but everything else appears to be functioning as expected. Thanks!

[2022-04-16 14:13] saif-ellafi commented on #93
It is intended, that popout mode does not get reduced. I am mostly sure it was like this in the previous Foundry VTT version.
Floating windows with reduced mode would be weird, by just showing the name bar.
You're welcome

[2022-04-16 14:31] #93 closed

[2022-04-18 00:52] Gvicross opened #94 "Left controls personalization"
Hi!

In previous versions it was possible to customize the position of the Left Controls, now there is no more. Could you put it back on? Or at least leave it TOP LEFT by default? I have a small monitor, and the Left Controls end up overlapping the player list, and in some games, I wish I didn't have to disable the player list.

![image](https://user-images.githubusercontent.com/80682257/163738826

[2022-05-26 22:16] Krigsmaskine opened #95 "[Bug] Minimal UI seems to stop cameras from resizing and moving"
System: DnD5e 1.6.1
Foundry: 9 build 269
I have 5 players (so 6 cameras total) and without Minimal UI module enabled, they resize and squeeze over to the left with the playerlist hiding away according to the size of the right sidebar, but with Minimal UI on, the right sidebar starts overlapping the cameras. I unfortunately forgot to grab a screenshot while we were all online, if you need one, let

[2022-05-29 00:40] Krigsmaskine commented on #95
![image](https://user-images.githubusercontent.com/39592771/170847213-3b01ae90-9239-45d9-9841-47c96369d48e.png)
I didn't feel right not leaving an image, so here it is. It does actually spit out an error at me this time, but I am unsure if it is related.

[code]

[2022-05-29 00:45] Krigsmaskine commented on #95
Here's how it looks without minimal UI, and it works with your other module (window controls afaik?) and just lessens/widens according to the size of the sidebar to the right
![image](https://user-images.githubusercontent.com/39592771/170847322-6d892891-e374-402e-87df-2840b9e87468.png)

[2022-05-29 11:43] EldritchTranslator opened #96 "Interaction with Minimal UI Foundry logo settings and Legend of the FIve Rings 5e"
Legend of the Five Rings 5e personalizes the Foundry logo in the top left with another icon, and clicking on it opens a help menu. With Minimal UI, in 'Hide Completely' we have a copy of the logo that does nothing; in 'Small' we have a small and deformed version of the logo that works as the system intended as well as the module intends beside a normal-sized version of the logo that does nothing;

[2022-06-24 13:25] abctuba commented on #94
+1

[2022-06-24 13:25] abctuba commented on #56
+1

[2022-06-24 13:46] abctuba commented on #94
I have a work around if you are self-hosted or otherwise have access to your file structure.

- In the data\modules\minimal-ui direct open and edit minimalus.js
- Under the postionControls function find the if statement condition that matches your UI size option (I use small so my example is set for that.
- Under `} else if (logoSettings !== 'standard') {`  (Line 31)
- Find `rootStyle.setProperty(

[2022-07-12 12:46] Lothex91 opened #97 "GURPS icons pushed behind the Macro Hotbar, instead of to the right side of the hotbar"
I'm using your minimal UI to get the bottom taskbar for open windows (and use it for the various pdfs I need to keep track of), but  with the GURPS module the Macro Hotbar overlaps the GURPS modifiers and the GURPS Dice roll icon
If you could take a look at it, it looks like something that can be easily fixed? Thank you!
![image](https://user-images.githubusercontent.com/108629466/178493015-cf0ede

[2022-07-23 03:19] aestrada4355 opened #98 "Request: Scale down Macro hotbar"
Similar to how the Left Tool bars are scaled down in size. would it be possible to have an option to have a scaled down/compact macro hotbar?

[2022-07-31 13:24] CaosFR opened #99 "Request : add transparency to the A/V windows of conntected player"
Hi,

Thanks for your great module. Do you think you can add an option to add transparency to the A/V windows of conntected player ? The window it's pretty big (even in minimun size) and I like clear HUD.

Thanks

[2022-08-26 15:27] CaosFR opened #100 "PlayerList always hidden"
Hi,

Thanks for this usefull module. A must have.
After install minimal ui and try differents options for the playerlist, My playerlist become always hidden, I can't see it. I have to use a script like that each time to activate it :

[code]

I dont have any error (F12). I use the last stable version of your module and foundry . I have try to disable or unintall your module, no result. Thanks for

[2022-09-03 06:39] CaosFR commented on #99
Hi, any news ?

[2022-09-04 13:07] saif-ellafi commented on #99
Hello @CaosFR - yes of course it is possible, but it takes work and I am super lazy :D
Will have it in mind for next time I work on it, I guess my priority is to support Foundry v10 now

[2022-09-04 17:31] CaosFR commented on #99
Thanks for your reply and happy dev :)

[2022-09-07 20:11] miusei opened #101 "[REQUEST] Please add compatibility with "Taskbar" module"
please add compatibility with Taskbar module from theripper93 ( https://theripper93.com/#/module/foundry-taskbar )

[2022-09-07 22:16] saif-ellafi commented on #101
Hi @miusei - no way, that is a paid module. Sorry

[2022-09-07 22:17] saif-ellafi commented on #101
You can use my other module, it also has a taskbar. https://foundryvtt.com/packages/window-controls

[2022-09-08 00:27] miusei commented on #101
thank you <3

[2022-09-08 04:50] saif-ellafi commented on #101
Welcome!!

[2022-09-08 04:50] #101 closed

[2022-09-13 16:59] davelamorte opened #102 "Compatibility issue with Monk's Hotbar Expansion"
Hello, this used to work, but since the latest update it doesn't anymore.
When the hotbar position is set to "extreme left", it now goes too much on the left, basically showing from the second button on.
![image](https://user-images.githubusercontent.com/46324776/189961798-8b6f9189-8a9d-4073-9052-c7c31f67f9cc.png)
If I choose "manual", I can place it wherever I want, also 1, but the players' list

[2022-09-15 09:58] Cousken opened #103 "Usage of deprecated API"
Hello!

After upgrading to latest Foundry i get a warning from Minimal UI about usage of deprecated APIs

minmalui.js:703 (game.system.**data.**name)

[code]

I also get an error here
[code]

[2022-09-18 12:07] saif-ellafi commented on #100
Hi @CaosFR - on which vesion of Foundry are you on?

[2022-09-18 12:08] saif-ellafi commented on #100
I guess you have this, no?
![image](https://user-images.githubusercontent.com/27952699/190901332-342f4062-2110-4fa5-ad59-f65057a22f5c.png)

[2022-09-18 12:13] saif-ellafi commented on #102
Hey @davelamorte is this on Foundry v10? I just installed both and they work fine for me together
![image](https://user-images.githubusercontent.com/27952699/190901505-9c001022-279a-485b-9193-12f06d8c9f87.png)

[2022-09-28 20:41] brunocalado opened #104 "Player List Block Audio and Video Controls"
Hi!

Minimal UI blocks the use of the controls from AV.

![image](https://user-images.githubusercontent.com/4999783/192884305-d0dca7c3-887f-4b07-ac9a-9175d27bc492.png)

[2022-10-03 08:49] CepheiA2 opened #105 "Borders and Shadows options"
In the original UI highlighted elements are less invasive, i would like an option to keep the minimal ui with the original behavior of borders and shadows, with only few elements highlighted

Original
![Immagine 2022-10-03 103740](https://user-images.githubusercontent.com/85868381/193537137-41ea05fa-7b8e-4887-93f9-99b09f5f7bfc.png)

Minimal UI
![Immagine 2022-10-03 104350](https://user-images.gith

[2022-10-08 22:49] ducky00 opened #106 "Feature Request: Macro hotbar"
hey, not really an issue, this is just something I feel it could be wonderful for my group and a lot more people I know that use this module. I was thinking if it could be possible to have more option of customization for the hotbar, such as scaling and also for who it appears. As a GM I don't use it at all and it feels like a visual pollution, my player however use it all the time. Would be great

[2022-10-10 23:57] aedgaruk commented on #103
As described above re: BasePackage#data ... and also a warning re: BasePackage#name

![image](https://user-images.githubusercontent.com/111492074/194969472-bc2985c3-6660-4d02-83fb-17417bafdd91.png)

[2022-10-11 07:07] davelamorte commented on #102
No, I'm still on v9!
So I guess that's the issue?

On Sun, Sep 18, 2022, 14:13 Saif Addin ***@***.***> wrote:

[2022-10-25 20:50] CaosFR commented on #100
Hi,

This problem was solve when update to v10.

[2022-10-25 20:50] #100 closed

[2022-10-25 20:53] CaosFR opened #107 "Request : Size of the A/V windows"
Hi,

Thanks for your work and the update to v10. In v10 the camera of my players are so bigs !
Would it be possible to have an option to reduce the size of A/V windows and the dock ?

Thanks and happy dev

[2022-10-29 11:54] jacksands commented on #107
In the meantime you use Custon CSS module and dont use TweakWRC you can use this css code:

/* v10 cameras sidebar resize drag */
div#camera-views {--av-width: auto;}

![image](https://user-images.githubusercontent.com/7229143/198830017-07651866-ed0e-4eef-a5ae-929b15efa946.png)

![image](https://user-images.githubusercontent.com/7229143/198829903-4112a828-4fad-44af-9792-779651f81bc5.png)

[2022-10-29 12:14] CaosFR commented on #107
@jacksands Thanks for the tips ! I will use the dock with this CSS in the meantime.

[2022-10-29 12:19] CaosFR commented on #104
@saif-ellafi Same for me. Do you think you can solve it.

@brunocalado I use this macro for toogle the visibility of the player list.

[code]

[2022-10-29 13:51] brunocalado commented on #104
I'm moving to top or bottom to deal with this. But, this is a good solution.

[2022-10-29 16:51] saif-ellafi commented on #107
ugh, this is ugly. I am super lazy to fix it... need to find the time, is the above style fixing everything?

[2022-10-29 17:40] CaosFR commented on #107
@saif-ellafi Unfortely not, it's only fixe the size of the dock, but not the windows of the AV if we dont use the dock (my case).

[2022-10-29 17:55] CaosFR commented on #104
@brunocalado How do you set the player list in other position ?

[2022-10-29 18:12] brunocalado commented on #104
Not the player list. The cams. You can move then to top/bottom

[2022-10-29 18:13] brunocalado commented on #104
![image](https://user-images.githubusercontent.com/4999783/198846798-256bb50a-e069-4645-b6e3-b1a74fdc4332.png)

[2022-10-29 18:15] CaosFR commented on #104
Oh the dock, yes of course, I know it :) Thanks.

[2022-10-29 20:51] saif-ellafi commented on #102
Yes, sorry. Too much to maintain multiple versions and multiple modules. Let me know if you find issues on v10 onwards :)

[2022-10-29 20:54] saif-ellafi commented on #103
Thank you, will be fixed in next release.

[2022-10-29 20:54] #103 closed

[2022-10-29 20:55] saif-ellafi commented on #105
Hi @CepheiA2 - have you checked the settings? There are shadow and highlight settings for the strength of the colors

[2022-10-29 20:56] saif-ellafi commented on #105
As to making some parts yes and others not, it is quite some work unfortunately now planning it now

[2022-10-29 21:01] saif-ellafi commented on #106
hi, this is a nice idea, but I am not currently working on this module very actively now, just keeping alive it's most important functions :) I welcome any code contributions of course

[2022-10-29 21:24] saif-ellafi commented on #107
Ah sorry I meant to comment in the other issue. This here is not a bug, just an enhancement to be able to make things smaller than minimum :)

[2022-10-29 22:08] saif-ellafi commented on #104
Thank you @CaosFR and @brunocalado for supporting here - I have released 1.5.1 with these fixes and your suggestions for thinner dock. appreciated if you let me know if it works. I have done minimal maintenance :)

[2022-10-30 07:57] CepheiA2 commented on #105
I've checked all settings, and i think your module is great, but i'll really like the possibility to choose which part have a border and which not

[2022-10-30 08:32] CaosFR commented on #104
@saif-ellafi I have test your update, thanks for your working.

For the size of the dock it's working. For the player list is not working, the player list is above the dock and now the options of miniumal for the player list dont work to (size, behaviour).
Sadly, for a strange raseon the options for the foundry logo dont work to now ! :(

![image](https://user-images.githubusercontent.com/37581932

[2022-10-30 09:20] saif-ellafi commented on #107
done

[2022-10-30 09:20] #107 closed

[2022-10-30 09:22] saif-ellafi commented on #104
Hmmm @CaosFR - the logo I will see... but the player list is no problem for me. Are you sure you removed other conflicting UI modules or custom styles?
![image](https://user-images.githubusercontent.com/27952699/198871424-5b71cfba-ea19-4349-9c92-131a96266e7b.png)

[2022-10-30 09:23] saif-ellafi commented on #104
I am not sure what is that button you have with a handshake

[2022-10-30 10:04] saif-ellafi commented on #104
I have released 1.5.2 with some potential improvements, and fixed the logo issue with the camera dock enabled

[2022-10-30 10:07] saif-ellafi commented on #104
For me it is working really well now. If there are still issues it is for sure a compatibility problem. I have disabled player list functionality when the camera is enabled, basically, so none of the functions will work but it will look normal without problems :)

[2022-10-30 11:14] CaosFR commented on #104
The handshkae come from ItemsPile. With the 1.5.2 the foundry logo work now, thanks :)

The problem persist with the player list persist for me. All other module are disable.

[2022-10-30 15:52] jacksands commented on #104
Same here, using alien system
![image](https://user-images.githubusercontent.com/7229143/198888160-eefc512f-14e1-4cf2-90ca-1a6aa7f71f0b.png)

also hide completely also not working...
![image](https://user-images.githubusercontent.com/7229143/198888284-c4cd7992-cbad-4dc8-adc9-d325839a693a.png)

[2022-10-30 15:55] saif-ellafi commented on #104
dang... checking

[2022-10-30 15:55] jacksands commented on #104
don't worry man!  thanks for your amazing module!

we appreciate your effort!!!

[2022-10-30 16:01] saif-ellafi commented on #104
Thanks, yeah. It really baffles me that it doesn't happen to me in 1.5.2
![image](https://user-images.githubusercontent.com/27952699/198888696-785e0e6b-3770-4767-a0ef-3a029b2a2deb.png)

[2022-10-30 16:07] saif-ellafi commented on #104
I think I got it, it has to do with the hotbar position, you too seem to have the hotbar on the right

[2022-10-30 18:03] saif-ellafi commented on #104
Alright @brunocalado @jacksands @CaosFR -- It was much harder than I had originally thought :)
I think I could fix it now, phew. I really hope so. Plenty of code changes, if you could take a look, really appreciated.
Fixed on version 1.5.3

[2022-10-30 18:23] saif-ellafi commented on #104
Ok, fixed for real in 1.5.4 , I hope!!!

[2022-10-30 22:02] jacksands commented on #104
PERFECT!!

![image](https://user-images.githubusercontent.com/7229143/198903562-f56791d6-8f21-45f4-9bf4-0214b916b647.png)

![image](https://user-images.githubusercontent.com/7229143/198903624-cb19ed09-3b7d-4e57-9309-d7837daa0fea.png)

tks my friend!

[2022-10-30 22:27] saif-ellafi commented on #104
have fun!!!

[2022-10-30 22:27] #104 closed

[2022-10-31 10:01] CaosFR commented on #104
![DnDIWin-PLATE-500x500](https://user-images.githubusercontent.com/37581932/198982516-99162dea-743c-436e-a3a5-e8d60763e889.jpg)

@saif-ellafi Thanks :)

[2022-10-31 10:48] davelamorte commented on #102
I updated to V10, no issues so far.
Thank you for your hard work!

[2022-10-31 10:48] #102 closed

[2022-10-31 21:50] aedgaruk opened #108 "Warnings: Deprecated Dependencies"
Hi,

Couple of warnings flagging deprecated dependencies ...

![image](https://user-images.githubusercontent.com/111492074/199116681-6ed06ccc-9541-4f9e-bca1-5db860a13d28.png)

... bit like a game of "Whack-a-Mole" catching all these changes ... anyway, flagged but not witnessing any aberrant behaviour.

Cheers
Andy

PS This module is awesome, gives me the clean look and control of the UI I always

[2022-11-02 16:04] jfrazierjr opened #109 "Left/Right Dock AV window breaks with Players"
Default(s) with no Mods running.

![image](https://user-images.githubusercontent.com/2130984/199539174-73366d4b-d542-4e80-8138-5bd83b4eb443.png)

![image](https://user-images.githubusercontent.com/2130984/199539303-40d41772-c484-40b6-a1cc-bcc07ad028a6.png)

Players menu is collapsible BELOW the AV div in core Foundry.

![image](https://user-images.githubusercontent.com/2130984/199539733-727ccda1-7

[2022-11-02 16:08] saif-ellafi commented on #109
Hi @jfrazierjr can you please make sure you have Minimal UI version 1.5.4?

[2022-11-02 16:51] jfrazierjr commented on #109
Thanks, that fixed the problem, or at least made the AV controls usable.

[2022-11-02 17:01] saif-ellafi commented on #109
Awesome, have fun

[2022-11-02 17:01] #109 closed

[2022-11-08 23:06] Nedrapter opened #111 "Left controls problems!"
Reading from other issues, makes me assume there are options to control where the Left Controls would be? However I see nothing like that in my configuration window
![image](https://user-images.githubusercontent.com/74311190/200695048-4d868c88-2d74-4453-a312-8e61df944289.png)

Moreover, their default position is somewhere in the middle and it overlaps with Players window down below. Without Minima

[2022-11-08 23:42] saif-ellafi commented on #111
Hi @Nedrapter - not anymore since the V10 version, there isn't. Only size and submenu style.

[2022-11-08 23:51] Nedrapter commented on #111
Oh I see. Is it possible to do something about the overlapping? Either bring back the moving functionality or adopt the default foundry behavior?

[2022-11-13 17:54] smturg opened #112 "Bug: Left Controls Top Tiles Border/Shadow Cut Off"
Just updated to Version 10, and it seems that the topmost left tiles have the top border/shadows abruptly cut off. Everything else works as intended.

![Shadow Cut Off](https://user-images.githubusercontent.com/97303899/201536633-edb251be-9fb7-44a7-8426-376bf78093cb.png)

[2022-11-13 18:17] smturg commented on #112
One more to add - again quite minor - the arrow when the right menu is collapsed points inward rather than outward.

![Arrow Right](https://user-images.githubusercontent.com/97303899/201537643-4a4efe80-a66c-4f2e-b3d7-1892d22c5cc8.png)

[2022-11-13 21:44] saif-ellafi commented on #112
Thanks. The cut off corners on top, believe it or not, it is also on
Foundry without modules!

Steve ***@***.***> schrieb am So., 13. Nov. 2022, 13:18:

[2022-11-13 21:46] smturg commented on #112
Ah I see. Thanks for clarifying! I suppose we'll be waiting for an update on their end, then. Thanks!

I appreciate you looking into these.

[2022-11-16 10:02] V3rotti commented on #111
I know i have too many modules installed, but still i'd support that the controlls should be at least have an option to alignt to the top.
I use Argon HUD and the Portrait overlaps the lower buttons of the first column:
![image](https://user-images.githubusercontent.com/56869989/202150364-eec1dc16-7d28-440e-8701-af324905c032.png)

[2022-11-19 04:51] GambetTV opened #113 "BUG: FPS Counter repositioned too far to the left with no option to reposition."
Hi, for some reason with your module enabled the FPS Counter has about a 300 pixel buffer between it and the chat window, whereas by default it is positioned directly next to the chat window. I don't know if this is intentional or not, but if you're intentionally moving it, I'd request that you at least provide an option to move it back.

[2022-11-25 07:07] sharkbruhaha commented on #52
bump?

[2022-11-30 13:47] p4535992 opened #114 "[Feature Request] Integration with lib-themer library"
**I know that the module at this time is not "actively" being followed, so I don't expect a commitment to development just to let me know if it is something you might be interested in.**

The [Lib Themer](https://github.com/mouse0270/lib-themer) library from mouse0270 is very interesting ... I was wondering if it was impossible to base minimal ui on such a library .

If such a library was implemen